{% extends "base.html" %}

{% block main_content %}
{% load staticfiles %}
{% csrf_token %}
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
      <a class="navbar-brand" href="#">Taquilla de atenci&oacute;n</a>
    </div>
	<div class="container">
		<div class="collapse navbar-collapse" id="menu_admin">
			<ul class="nav navbar-nav">
				<li><a href="{% url 'cuentas_logout' %}">Salir</a></li>
			</ul>
		</div> <!-- / #menu_admin -->
	</div> <!-- / .container-fluid -->
</nav>

<header class="header" style="padding-top: 70px;">
	<div class="row">
		<div class="col-xs-7 text-success">
			<h2>Bienvenido {{ usuario.get_full_name }}</h2>
		</div>
		<div class="col-xs-5 pull-right">
			<img src="{% static 'img_generic/car-icon.png' %}" class="img-rounded" style="width: 40%; margin-left:50%">
		</div>
	</div>
</header>
<br>
<div class="container-fluid">
	<table class="table">
		<thead>
			<tr>
				<th>Tipo</th>
				<th>C&oacute;digo</th>
				<th>Hora</th>
				<th>Usuario</th>
				<th>Estatus</th>
				<th>Perito</th>
				<th>Opciones</th>
			</tr>
		</thead>
		<tbody>
			{% for n in numeros_orden %}
			<tr id="fila_{{n.pk}}">
				<td>{{n.solicitud_inspeccion.tipo_inspeccion}}</td>
				<td>{{n.codigo}}</td>
				<td>{{n.hora_atencion|time:"h:i A"}}</td>
				<td>{{n.solicitud_inspeccion.usuario.nombres}} {{n.solicitud_inspeccion.usuario.apellidos}}</td>
				<td>{{n.solicitud_inspeccion.estatus}}</td>
				<td>{{n.solicitud_inspeccion.perito|default:"No posee"}}</td>
				<td>
					<!-- <a href="#" class="btn btn-info btn-sm" data-toggle="tooltip" data-original-title="Asignar Perito" {%if not n.solicitud_inspeccion.estatus.codigo == "solicitud_procesada"%}disabled{%endif%}>
						<i class="fa fa-user-plus"></i>
					</a> -->
					<a href="#" class="btn btn-success btn-sm confirmar-asistencia" data-toggle="tooltip" data-original-title="Confirmar asistencia" numero_orden="{{n.pk}}" {%if not n.solicitud_inspeccion.estatus.codigo == "solicitud_en_proceso"%}disabled{%endif%}>
						<i class="fa fa-check-square-o"></i>
					</a>
					<a href="#" class="btn btn-danger btn-sm confirmar-no-asistencia" data-toggle="tooltip" data-original-title="Confirmar inasistencia" numero_orden="{{n.pk}}" {%if not n.solicitud_inspeccion.estatus.codigo == "solicitud_en_proceso"%}disabled{%endif%}>
						<i class="fa fa-times-circle"></i>
					</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<input type="hidden" name="id_numero_orden" id="id_numero_orden" value="0">

<div class="modal fade" id="confirmar_asistencia_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title text-success" id="myModalLabel">Confirmar asistencia</h3>
      </div> <!-- / .modal-header -->
      <div class="modal-body">
      	<div class="row">
      		<div class="col-xs-12">
      			<label>Asignar Perito:</label>
      		</div>
      	</div>
      	<div class="row">
      		<div class="col-xs-12">
	      		<select id="id_perito" name="perito" class="form-control">
	      			<option value="">--Seleccionar--</option>
	      			{% for p in peritos %}
					<option value="{{p.pk}}">{{p.nombres}} {{p.apellidos}}</option>
	      			{% endfor %}
	      		</select>
      		</div>
      	</div>
      </div> <!-- / .modal-body -->
      <div class="modal-footer">
      	<div class="col-xs-6">
      		<a href="#" class="btn btn-danger btn-block" data-dismiss="modal">Cancelar</a>
      	</div>
      	<div class="col-xs-6">
      		<a id="enviar_confirmar_asistencia" href="#" class="btn btn-primary btn-block" numero_orden="0">Aceptar</a>
      	</div>
      </div> <!-- / .modal-footer -->
    </div>
  </div>
</div>
{% include 'cuentas/modales_usuario.html' %}
{% endblock %}

{% block javascripts %}
	{{ block.super }}
	<script type="application/javascript">
	$(function(){
		/************** DESPLEGAR MODAL DE CONFIRMAR ASISTENCIA *************/
		$(document).on('click','.confirmar-asistencia',function(){
			numero_orden = $(this).attr('numero_orden');
			$('#enviar_confirmar_asistencia').attr('numero_orden', numero_orden);
			$('#enviar_confirmar_asistencia').attr('disabled', false);
			$('#confirmar_asistencia_modal').modal();
		});
		/************** FIN ****************/

		/************** ENVIAR CONFIRMACIÓN DE ASISTENCIA *************/
		$(document).on('click','#enviar_confirmar_asistencia',function(){
			numero_orden = $(this).attr('numero_orden');
			perito = $('#id_perito').val();
			if(perito.length > 0){
				$.ajax({
					method: 'POST',
					url: '{% url "taquilla_accion_solicitud" %}',
					data:{
						'id_numero_orden': numero_orden,
						'id_perito': perito,
						'tipo_operacion':'confirmar_asistencia',
						csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
					},
					dataType: 'json',
					/*complete: function(){
					  $('#spinner_form').hide();
					  $('#crear_solicitud').html('Ver Solicitudes');
					  $('#crear_solicitud').attr('id','ver_solicitudes');
					}*/
				})
				.done(function(data){
					if(data.valido){
						celda_estatus = $('#fila_'+numero_orden).children()[4];
						celda_perito = $('#fila_'+numero_orden).children()[5];
						$(celda_estatus).html(data.numero_orden.solicitud_inspeccion.estatus);
						$(celda_perito).html(data.numero_orden.solicitud_inspeccion.perito);
						// Para desactivar las acciones en la solicitud
						$.each($('a[numero_orden="'+numero_orden+'"]'), function(key,val){
							$(val).attr('disabled', true);
						});
					}
					else{
						alert('ha ocurrido un error');
						console.log(data.error_msg);
					}
					$('#confirmar_asistencia_modal').modal('hide');
				})
			}
		});
		/************** FIN ****************/

		/************** DESPLEGAR MODAL DE CONFIRMAR INASISTENCIA *************/
		$(document).on('click','.confirmar-no-asistencia',function(){
			numero_orden = $(this).attr('numero_orden');
			$('#title_modal_generic').html('Confirmar inasistencia');
			$('#body_modal_generic').html(
				'<div class="row">\
					<div class="col-xs-12 text-center">\
					<h4>¿Está seguro de confirmar la inasistencia para esta solicitud?</h4>\
					</div>\
				</div>'
			);
			$('#footer_modal_generic').html(
				'<div class="col-xs-6">\
					<a href="#" class="btn btn-danger btn-block" data-dismiss="modal">Cancelar</a>\
				</div>\
				<div class="col-xs-6">\
					<a id="enviar_confirmar_no_asistencia" href="#" class="btn btn-primary btn-block">Aceptar</a>\
				</div>'
			);
			$('#enviar_confirmar_no_asistencia').attr('numero_orden', numero_orden);
			$('#modal_generic').modal();
		});
		/************** FIN ****************/

		/************** ENVIAR CONFIRMACIÓN DE ASISTENCIA *************/
		$(document).on('click','#enviar_confirmar_no_asistencia',function(){
			numero_orden = $(this).attr('numero_orden');
			$.ajax({
				method: 'POST',
				url: '{% url "taquilla_accion_solicitud" %}',
				data:{
					'id_numero_orden': numero_orden,
					'tipo_operacion':'confirmar_no_asistencia',
					csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
				},
				dataType: 'json',
				/*complete: function(){
				  $('#spinner_form').hide();
				  $('#crear_solicitud').html('Ver Solicitudes');
				  $('#crear_solicitud').attr('id','ver_solicitudes');
				}*/
			})
			.done(function(data){
				if(data.valido){
					celda_estatus = $('#fila_'+numero_orden).children()[4];
					$(celda_estatus).html(data.numero_orden.solicitud_inspeccion.estatus);
					// Para desactivar las acciones en la solicitud
					$.each($('a[numero_orden="'+numero_orden+'"]'), function(key,val){
						$(val).attr('disabled', true);
					});
				}
				else{
					alert('ha ocurrido un error');
					console.log(data.error_msg);
				}
				$('#modal_generic').modal('hide');
			})
		});
		/************** FIN ****************/
	});
	</script>
{% endblock %}