{% extends "base.html" %}

{% block main_content %}
{% include 'cuentas/modales_usuario.html' %}

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-10"><h3>Notificaciones</h3></div>
		<div class="col-xs-2">
			<h3>
			<a href="{% url 'admin_crear_notificacion' %}" class="btn btn-info btn-block">
				<i class="fa fa-plus"></i> Agregar
			</a>
			</h3>
		</div>
	</div>

	<div class="row">
		<div id="mensaje_confirmacion" class="col-xs-12"></div>
	</div> <!-- / .row -->

	<table class="table">
		<thead>
			<tr>
				<th>Tipo</th>
				<th>Asunto</th>
				<th>Encuesta</th>
				<th>Opciones</th>
			</tr>
		</thead>
		<tbody>
			{% for notificacion in notificaciones.object_list %}
			<tr>
				<td>{{notificacion.tipo_notificacion.descripcion}}</td>
				<td>{{notificacion.asunto}}</td>
				<td>{% if notificacion.encuesta %} {{notificacion.encuesta}} {% else %} N/A {% endif %}</td>
				<td>
					<a href="{% url 'admin_editar_notificacion' notificacion.id %}" class="btn btn-info btn-sm" data-toggle="tooltip" data-original-title="Editar">
						<i class="fa fa-pencil"></i>
					</a>
					<a href="#" class="btn btn-primary btn-sm enviar" data-toggle="tooltip" target="{{notificacion.id}}" data-original-title="Envío masivo">
						<i class="fa fa-paper-plane"></i>
					</a>
					<a class="btn btn-success btn-sm envio_personalizado" data-toggle="tooltip" target="{{notificacion.id}}" data-original-title="Envío personalizado">
						<i class="fa fa-share"></i>
					</a>
					<a href="#" class="btn btn-danger btn-sm eliminar" target="{{notificacion.id}}" data-toggle="tooltip" data-original-title="Eliminar" >
						<i class="fa fa-trash"></i>
					</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% if notificacion.pages.0 > 1 %}
	<div class="pagination center-block text-center">
		<div class="row">
			<ul class="pagination">
			{% if notificacion.has_previous %}
		        <li>
		        	<a href="?{{ notificacion.previous_page_number.querystring }}" class="prev">&lsaquo;&lsaquo; anterior</a>
		        </li>
		    {% else %}
		    	<li class="disabled">
					<span class="disabled prev">&lsaquo;&lsaquo; anterior</span>
				</li>
			{% endif %}
			{% for page in notificacion.pages %}
		        {% if page %}
		            {% ifequal page notificacion.number %}
		                <li><span class="current page">{{ page }}</span></li>
		            {% else %}
		                <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
		            {% endifequal %}
		        {% else %}
		            <li class="disabled"><a>...</a></li>
		        {% endif %}
		    {% endfor %}
		    {% if notificacion.has_next %}
		        <li>
		        	<a href="?{{ notificacion.next_page_number.querystring }}" class="next">siguiente &rsaquo;&rsaquo;</a>
		        </li>
		    {% else %}
		    	<li class="disabled">
		        	<span class="disabled next">siguiente &rsaquo;&rsaquo;</span>
		        </li>
		    {% endif %}
		    </ul>
		</div>
	</div>
	{% endif %}
</div> <!-- / .container-fluid -->

<form id="eliminar_notificacion" method="POST" action="{% url 'admin_eliminar_notificacion' %}">
	{% csrf_token %}
	<input type="hidden" name="page" value="{{notificaciones.number}}">
</form>

<!-- Modal para el envío personalizado -->
<div class="modal fade" id="envio_personalizado_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="modal-title text-success" id="myModalLabel">Env&iacute;o personalizado</h3>
			</div> <!-- / .modal-header --> 
			<div class="modal-body">
				<form id="envio_personalizado_form" action="" method="post">
				<input type="hidden" name="notificacion" id="input_notificacion" value="">
				<div class="row">
					<div class="col-xs-12" align="justify"><small>Esta notificaci&oacute;n ser&aacute; enviada a los Clientes con solicitudes pendientes de acuerdo con los par&aacute;metros seleccionados</small></div>
				</div>
				<br>
				<div class="row">
					<div class="col-xs-6">
						<label>Estado:</label>
					</div>
					<div class="col-xs-6">
						<label>Municipio:</label>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<select name="estado" id="select_estado" class="form-control">
							<option value="">--Seleccionar--</option>
							{% for e in estados %}
							<option value="{{e.pk}}">{{e.nombre}}</option>
							{% endfor %}
						</select>		
					</div>
					<div class="col-xs-6">
						<select name="municipio" id="select_municipio" class="form-control">
							<option value="">--Seleccionar--</option>
						</select>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-xs-6">
						<label>Centro de inspecci&oacute;n:</label>
					</div>
					<div class="col-xs-6">
						
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<select name="centro" id="select_centro" class="form-control">
							<option value="">--Seleccionar--</option>
						</select>
					</div>
					<div class="col-xs-6">
						
					</div>
				</div>
						
				</form>
			</div> <!-- / .modal-body -->
			<div class="modal-footer">
				<div class="col-xs-6">
					<a href="#" class="btn btn-danger btn-block" data-dismiss="modal">Cancelar</a>
				</div>
				<div class="col-xs-6">
					<a href="#" id="enviar_not_personalizado" class="btn btn-primary btn-block">Enviar</a>
				</div>
			</div> <!-- / .modal-footer -->
		</div>
	</div>
</div>

{% endblock %}

{% block javascripts %}
	{{ block.super }}

	<script type="application/javascript">
	$(function(){
		var token = document.getElementsByName('csrfmiddlewaretoken')[0].value;
		$('#eliminar_notificacion').hide();
		/******** MODAL PARA CONFIRMAR LA ELIMINACIÓN DE UNA NOTIFICACION ********/
		$(document).on('click', '.eliminar', function(event){
			event.preventDefault();
			target = $(this).attr('target');

			$('#eliminar_notificacion').append('<input type="hidden" name="notificacion_id" value="'+target+'">');
			$('#title_modal_generic').html('Confirmación');
			$('#body_modal_generic').html(
				'<div class="row">\
					<div class="col-xs-12"><h4>¿Está seguro que desea eliminar esta notificaci&oacute;n?</h4></div>\
				</div><br>'
			);
			$('#footer_modal_generic').html(
				'<div class="col-xs-6">\
					<a id="cancelar" href="#" class="btn btn-danger col-xs-12" data-dismiss="modal">Cancelar</a>\
				</div>\
				<div class="col-xs-6">\
					<a id="confirmar" href="#" class="btn btn-primary col-xs-12">Aceptar</a>\
				</div>'
			);
			$('#modal_generic').modal({
				backdrop: 'static',
				keyboard: false
			});
		});
		/******** FIN ********/

		/******* ELIMINAR UNA NOTIFICACION *********/
		$(document).on('click', '#confirmar', function(){
			$('#eliminar_notificacion').submit();
		});
		/******* FIN *******/

		target_envio = '';
		$(document).on('click', '.enviar', function(event){
			event.preventDefault();
			target_envio = $(this).attr('target');

			$('#title_modal_generic').html('Confirmación');
			$('#body_modal_generic').html(
				'<div class="row">\
					<div class="col-xs-12"><h4>¿Está seguro que desea enviar esta notificaci&oacute;n a todos los clientes?</h4></div>\
				</div><br>'
			);
			$('#footer_modal_generic').html(
				'<div class="col-xs-6">\
					<a id="cancelar" href="#" class="btn btn-danger col-xs-12" data-dismiss="modal">Cancelar</a>\
				</div>\
				<div class="col-xs-6">\
					<a id="confirmar_envio" href="#" class="btn btn-primary col-xs-12">Aceptar</a>\
				</div>'
			);
			$('#modal_generic').modal({
				backdrop: 'static',
				keyboard: false
			});
		});

		$(document).on('click', '#confirmar_envio', function(event){
			event.preventDefault();
			$('#modal_generic').modal('hide');
			$.ajax({
			    type: 'GET',
			    url: '{% url "admin_enviar_notificacion" %}',
			    data: {
			    	'notificacion_id': target_envio
			    },
			    dataType: 'json',
			    success: function(data){
			    	console.log(data.mensaje);
			    	$('#mensaje_confirmacion').html(
					'<div class="alert alert-success alert-dismissible" role="alert">\
						 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>\
						 La notificación ha sido enviada correctamente\
					</div>'
					);
					setTimeout(function(){
					  $('#mensaje_confirmacion').fadeOut('1500');
					}, 3000);
			    },
			    error: function(data){
			    	console.log(data.mensaje);
			    }
			});
		});

		/********* LEVANTAR MODAL ENVIO PERSONALIZADO ***********/
		$(document).on('click', '.envio_personalizado', function(){
			$('#input_notificacion').val($(this).attr('target'));
			$('#envio_personalizado_modal').modal();
		});
		/********* FIN ***********/

		/********* CARGAR MUNICIPIOS CON CENTROS **********/
		$('#select_estado').change(function(){
			value = $(this).val();
			$('#select_centro').html('<option value="">--Seleccionar--</option>');
			if(value.length > 0){
				// LLamada AJAX para obtener los municipios
				$.ajax({
					method: 'GET',
					url: '/sgt/obtener-municipios/'+value,
					data:{
						'con_centro': true
					},
					dataType: "json"
				})
				.done(function(data){
					if(!data.hasOwnProperty('error_msg')){
						// Se reinicia el Select de municipios
						$('#select_municipio').html('<option value="">--Seleccionar--</option>');
						$.each(data, function(key, value){
							$('#select_municipio').append('<option value="'+value.pk+'">'+value.fields.nombre+'</option>');
						});
					}
					else{
						console.log('Error');
					}
				});
			}
			else{
				$('#select_municipio').html('<option value="">--Seleccionar--</option>');
			}
		});
		/********* FIN ***********/

		/********** CARGA DE CENTROS POR MUNICIPIO *************/
		$(document).on('change', '#select_municipio', function(){
			data_object = {}

			data_object['municipio_id'] = $('#select_municipio').val();

			if(data_object['municipio_id'].length > 0){
				// Llamada AJAX para obtener los centros de inspección
				$.ajax({
					method: 'GET',
					url: '/sgt/obtener-centros',
					data: data_object,
					dataType: "json"
				})
				.done(function(data){
					if(!data.hasOwnProperty('error_msg')){
						// Se reinicia los centros de inspeccion
						$('#select_centro').html('<option value="">--Seleccionar--</option>');
						
						$.each(data, function(key, value){
							$('#select_centro').append('<option value="'+value.pk+'">'+value.nombre+'</option>');
						});
					}
					else{
						console.lg('Error');
					}
				});
			}
			else{
				$('#select_centro').html('<option value="">--Seleccionar--</option>');
			}
		});
		/********** FIN *************/

		/********* HACER EL ENVIO DE LA NOTIFICACIÓN PERSONALIZADA *********/
		$(document).on('click', '#enviar_not_personalizado', function(){
			var postData = $('#envio_personalizado_form').serializeArray();
			console.log(postData);
			$.ajax({
				method: 'POST',
				headers: { "X-CSRFToken": token},
				url: '{% url "admin_envio_personalizado_notificacion" %}',
				data:postData,
				dataType: 'json',
			})
			.done(function(data){
				if(data.valido){
					$('#mensaje_confirmacion').show();
					$('#envio_personalizado_modal').modal('hide');
					$('#mensaje_confirmacion').html(
					'<div class="alert alert-success alert-dismissible" role="alert">\
						 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>\
						 La notificación ha sido enviada correctamente\
					</div>'
					);
					setTimeout(function(){
					  $('#mensaje_confirmacion').fadeOut('1500');
					}, 3000);
				}
				else{
					$('#dias_holgura_errores').html(data.error_msg);
				}
			})
		});
		/********* FIN ***********/

	})
	</script>
{% endblock %}