{% extends "base.html" %}

{% block main_content %}
{% include 'cuentas/modales_usuario.html' %}
{% load i18n %}
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-4 col-lg-6">
			<h3>Centros de inpecci&oacute;n</h3>
		</div>
		<div class="col-xs-2 col-lg-2">
			<h3>
			<a href="{% url 'admin_crear_centro' %}" class="btn btn-info btn-block">
				<i class="fa fa-plus"></i> Agregar
			</a>
			</h3>
		</div>
		<div class="col-xs-3 col-lg-2">
			<h3>
			<a id="carga_masiva" href="#" class="btn btn-info btn-block">
				<i class="fa fa-upload"></i> Cargar masiva
			</a>
			</h3>
		</div>
		<div class="col-xs-3 col-lg-2">
			<h3>
			<div class="btn-group btn-block" role="group" aria-label="...">
				<div class="btn-group btn-block pull-right">
					<a href="#" class="btn btn-info btn-block dropdown-toggle" data-toggle="dropdown">
						Atributos globales <span class="caret"></span>
					</a>
					<ul class="dropdown-menu  pull-right" role="menu">
						<li>
							<a id="establecer_holgura_reserva" href="#" data-target="#holgura_reserva_modal" data-toggle="modal">
								<i class="fa fa-calendar"></i> D&iacute;as de holgura para reserva
							</a>
						</li>
						<li>
							<a id="seleccionar_fechas_no_laborables" href="#">
								<i class="fa fa-calendar"></i> Fechas No laborables
							</a>
						</li>
						<li>
							<a id="seleccionar_horarios_atencion" href="#">
								<i class="fa fa-clock-o"></i> Hora de atenci&oacute;n
							</a>
						</li>
					</ul>
				</div>
			</div>
			
			</h3>
		</div>
	</div> <!-- / .row -->

	<div class="row">
		<div id="mensaje_confirmacion" class="col-xs-12"></div>
	</div> <!-- / .row -->

	<div class="row">
		<div class="col-xs-12">
		<table class="table">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Direcci&oacute;n</th>
					<th>Estado</th>
					<th>Municipio</th>
					<th style="width:15%">Opciones</th>
				</tr>
			</thead>
			<tbody>
				{% for centro in centros.object_list %}
				<tr>
					<td>{{centro.nombre}}</td>
					<td>{{centro.direccion}}</td>
					<td>{{centro.municipio.estado.nombre}}</td>
					<td>{{centro.municipio.nombre}}</td>
					<td>
						<a href="{% url 'admin_editar_centro' centro.pk %}" class="btn btn-info btn-sm" data-toggle="tooltip" data-original-title="Editar">
							<i class="fa fa-pencil"></i>
						</a>
						<a href="#" class="btn btn-danger btn-sm eliminar" target="{{centro.pk}}" data-toggle="tooltip" data-original-title="Eliminar" >
							<i class="fa fa-trash"></i>
						</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		</div>
	</div>
	<div class="pagination center-block text-center">
		<div class="row">
			<ul class="pagination">
			{% if centros.has_previous %}
		        <li>
		        	<a href="?{{ centros.previous_page_number.querystring }}" class="prev">&lsaquo;&lsaquo; {% trans "anterior" %}</a>
		        </li>
		    {% else %}
		    	<li class="disabled">
					<span class="disabled prev">&lsaquo;&lsaquo; {% trans "anterior" %}</span>
				</li>
			{% endif %}
			{% for page in centros.pages %}
		        {% if page %}
		            {% ifequal page centros.number %}
		                <li class="active"><span class="current page">{{ page }}</span></li>
		            {% else %}
		                <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
		            {% endifequal %}
		        {% else %}
		            <li class="disabled"><a>...</a></li>
		        {% endif %}
		    {% endfor %}
		    {% if centros.has_next %}
		        <li>
		        	<a href="?{{ centros.next_page_number.querystring }}" class="next">{% trans "siguiente" %} &rsaquo;&rsaquo;</a>
		        </li>
		    {% else %}
		    	<li class="disabled">
		        	<span class="disabled next">{% trans "next" %} &rsaquo;&rsaquo;</span>
		        </li>
		    {% endif %}
		    </ul>
		</div>
	</div>
</div> <!-- / .container-fluid -->
<form id="eliminar_centro" method="POST" action="{% url 'admin_eliminar_centro' %}">
{% csrf_token %}
<input type="hidden" name="page" value="{{centros.number}}">
</form>

<!-- Modal de carga de centros -->
<div class="modal fade" id="carga_masiva_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="modal-title text-success" id="myModalLabel">Carga masiva</h3>
			</div>
			<div class="modal-body">
				<form id="carga_masiva_form" action="" method="post" enctype="multipart/form-data">
				<div class="row">
					<div class="col-xs-12">
						
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<label>Archivo xls con los centros de inspecci&oacute;n</label>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<input type="file" name="archivo_centros" class="form-control" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
					</div>
				</div>
				</form>
			</div>
			<div class="modal-footer">
				<div class="col-xs-6">
					<a href="#" class="btn btn-danger btn-block" data-dismiss="modal">Cancelar</a>
				</div>
				<div class="col-xs-6">
					<a href="#" id="enviar_archivo_centros" class="btn btn-primary btn-block">Enviar</button>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal para las fechas no laborables -->
<div class="modal fade" id="fechas_no_laborables_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="modal-title text-success" id="myModalLabel">Escoger d&iacute;as feriados</h3>
			</div>
			<div class="modal-body">
				<form id="fechas_no_laborables_form" action="" method="post" enctype="multipart/form-data">
				<div id="spinner_form" style="display:none">
					{% load staticfiles %}
					<center>
				    	<img src="{% static "img/ajax-loader.gif" %}" alt="Cargando Formulario..."/>
				    </center>
				</div> <!-- / #spinner_form -->

				<div id="contenedor_fechas">
				<div class="row">
					<div class="col-xs-12">
						<label>Fechas no laborables</label>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-xs-12">
						<div id="sel_fecha" class="input-append date" data-date-format="dd/mm/yyyy">
							<input type="text" readonly id="fecha_escogida" name="fecha_escogida" class="col-xs-9">
							<span class="input-group-addon add-on" ><i class="fa fa-calendar"></i></span>
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-xs-12">
						<select name="fechas_no_laborables" id="fechas_no_laborables" class="form-control select-mul" data-placeholder="Seleccionar fechas" multiple>
						</select>
						<div id="fechas_errores" class="text-danger"></div>
					</div>
				</div>
				</div> <!-- / #contenedor_fechas -->
				</form>
			</div>
			<div class="modal-footer">
				<div class="col-xs-6">
					<a href="#" class="btn btn-danger btn-block" data-dismiss="modal">Cancelar</a>
				</div>
				<div class="col-xs-6">
					<a href="#" id="enviar_fechas_no_laborables" class="btn btn-primary btn-block">Enviar</button>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal para los horarios de atención -->
<div class="modal fade" id="horarios_atencion_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="modal-title text-success" id="myModalLabel">Establecer horarios de atenci&oacute;n</h3>
			</div>
			<div class="modal-body">
				<form id="horarios_atencion_form" action="" method="post" enctype="multipart/form-data">
				<div id="spinner_form_horarios" style="display:none">
					{% load staticfiles %}
					<center>
				    	<img src="{% static "img/ajax-loader.gif" %}" alt="Cargando Formulario..."/>
				    </center>
				</div> <!-- / #spinner_form -->

				<div id="contenedor_horarios">
				<div class="row">
					<div class="col-xs-6">
						<label>Hora de apertura ma&ntilde;ana</label>
						<div class="input-append bootstrap-timepicker">
							<input id="id_hora_apertura_manana" class="form-control timepicker" type="text" name="hora_apertura_manana">
							<span class="add-on"><i class="icon-time"></i></span>
						</div>
						<span class="text-danger"></span>
					</div>
					<div class="col-xs-6">
						<label>Hora de cierre ma&ntilde;ana</label>
						<div class="input-append bootstrap-timepicker">
							<input id="id_hora_cierre_manana" class="form-control timepicker" type="text" name="hora_cierre_manana">
							<span class="add-on"><i class="icon-time"></i></span>
						</div>
						<span class="text-danger"></span>
					</div>
				</div>	
				<br>
				<div class="row">
					<div class="col-xs-6">
						<label>Hora de apertura tarde</label>
						<div class="input-append bootstrap-timepicker">
							<input id="id_hora_apertura_tarde" class="form-control timepicker" type="text" name="hora_apertura_tarde">
							<span class="add-on"><i class="icon-time"></i></span>
						</div>
						<span class="text-danger"></span>
					</div>
					<div class="col-xs-6">
						<label>Hora de cierre tarde</label>
						<div class="input-append bootstrap-timepicker">
							<input id="id_hora_cierre_tarde" class="form-control timepicker" type="text" name="hora_cierre_tarde">
							<span class="add-on"><i class="icon-time"></i></span>
						</div>
						<span class="text-danger"></span>
					</div>
				</div>
				</div> <!-- / #contenedor_horarios -->
				</form>
			</div>
			<div class="modal-footer">
				<div class="col-xs-6">
					<a href="#" class="btn btn-danger btn-block" data-dismiss="modal">Cancelar</a>
				</div>
				<div class="col-xs-6">
					<a href="#" id="enviar_horarios_atencion" class="btn btn-primary btn-block">Enviar</button>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal para la holgura de reserva -->
<div class="modal fade" id="holgura_reserva_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="modal-title text-success" id="myModalLabel">Escoger d&iacute;as de holguras para reservas</h3>
			</div>
			<div class="modal-body">
				<form id="dias_holgura_form" action="" method="post">
				<select id="select_dias_holgura" name="dias_holgura" class="form-control">
					<option value="">--Seleccionar--</option>
					<option value="1">1 d&iacute;a</option>
					<option value="2">2 d&iacute;as</option>
					<option value="3">3 di&acute;as</option>
				</select>
				</form>
			</div>
			<div class="modal-footer">
				<div class="col-xs-6">
					<a href="#" class="btn btn-danger btn-block" data-dismiss="modal">Cancelar</a>
				</div>
				<div class="col-xs-6">
					<a href="#" id="enviar_holgura_reserva" class="btn btn-primary btn-block">Enviar</button>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
	{{ block.super }}
	{% load staticfiles %}
	<script src="{% static 'js/bootstrap-filestyle/bootstrap-filestyle.min.js' %}" type="application/javascript"></script>

	<script src="{% static 'js/jquery-form/jquery.form.min.js' %}" type="application/javascript"></script>

	<script type="application/javascript">
	$(function(){
		var token = document.getElementsByName('csrfmiddlewaretoken')[0].value;
		$('#eliminar_centro').hide();
		fechas_no_laborables = [];

		//Inicialización del timepicker
		$('.timepicker').timepicker({
			minuteStep: 10,
			showMeridian:false,
			template: 'modal'
		});

		/******** MODAL PARA CONFIRMAR LA ELIMINACIÓN DE UN CENTRO DE INSPECCIÓN ********/
		$(document).on('click', '.eliminar', function(event){
			event.preventDefault();
			target = $(this).attr('target');

			$('#eliminar_centro').append('<input type="hidden" name="centro_id" value="'+target+'">');
			$('#title_modal_generic').html('Confirmación');
			$('#body_modal_generic').html(
				'<div class="row">\
					<div class="col-xs-12"><h4>¿Está seguro que desea eliminar este centro de inspección?</h4></div>\
				</div><br>'
			);
			$('#footer_modal_generic').html(
				'<div class="col-xs-6">\
					<a id="cancelar" href="#" class="btn btn-danger col-xs-12">Cancelar</a>\
				</div>\
				<div class="col-xs-6">\
					<a id="confirmar" href="#" class="btn btn-primary col-xs-12">Aceptar</a>\
				</div>'
			);
			$('#modal_generic').modal({
				backdrop: 'static',
				keyboard: false
			});
		});
		/******** FIN ********/

		/******* ELIMINAR CENTRO DE INSPECCIÓN *********/
		$(document).on('click', '#confirmar', function(){
			$('#eliminar_centro').submit();
		});
		/******* FIN *******/

		/************** MODAL PARA REALIZAR LA CARGA MASIVA ***************/
		$(document).on('click', '#carga_masiva', function(){
			$(":file").filestyle('clear');
			$('#carga_masiva_modal').modal();
		});
		/******* FIN *******/

		/********* INICIALIZACIÓN DEL PLUGIN PARA EL FILEINPUT **********/
		$(":file").filestyle({
			icon: false,
			buttonText: "Subir archivo",
			buttonName: "btn-primary"
		});
		/******* FIN *******/

		/********* PROCESAR ARCHIVOS XLS DE CENTROS ***********/
		$(document).on('click', '#enviar_archivo_centros', function(){
			value = $(':file').val();
			if(value.length > 0){
				$('#carga_masiva_form').ajaxSubmit({
					method: 'POST',
					headers: { "X-CSRFToken": token},
					url: '{% url "carga_masiva_centros" %}',
					async: false,
					/*data: $('#carga_masiva_form').serialize(),*/
					multiple: true,
					dataType: 'json',
					beforeSend: function(xhr) {
					  console.log('heyy');
					},
					complete: function(){
					  $('#spinner_form').hide();
					  $('#crear_solicitud').html('Ver Solicitudes');
					  $('#crear_solicitud').attr('id','ver_solicitudes');
					},
					success: function(data){
						console.log(data);
						$('#carga_masiva_modal').modal('hide');
						$('#title_modal_generic').html('Confirmación');
						$('#body_modal_generic').html(
							'<div class="row">\
								<div class="col-xs-12"><h4>La carga se ha realizado satisfactoriamente</h4></div>\
							</div><br>'
						);
						$('#footer_modal_generic').html('');
						$('#modal_generic').modal()
					}
				});
				
			}else{

			}
		});
		/******* FIN *******/

		/************** MODAL PARA ESCOGER FECHAS NO LABORABLES ***************/
		$(document).on('click', '#seleccionar_fechas_no_laborables', function(){
			$("#fechas_no_laborables").html('');
			$("#fechas_no_laborables").trigger("chosen:updated");
			$('#fechas_errores').html('');
			$('#fechas_no_laborables_modal').modal();
		});
		/******* FIN *******/

		/******* PARA HACER QUE CHOSEN FUNCIONE EN EL MODAL ************/
		$('#fechas_no_laborables_modal').on('shown.bs.modal', function () {
			//INcialización de chosen para los selects múltiples
			$('.select-mul').chosen({
				no_results_text: 'No se encontraron resultados para'
			});
		});
		/******* FIN *******/

		/********** AGREGAR FECHA NO LABORABLE ************/
		$('#sel_fecha').datepicker().on('changeDate', function(e){
        	fecha = $('#fecha_escogida').val();
        	if($.inArray(fecha, fechas_no_laborables) < 0){
        		fechas_no_laborables.push(fecha);
        		$('#fechas_no_laborables').append('<option value="'+fecha+'" selected>'+fecha+'</option>');
        		$("#fechas_no_laborables").trigger("chosen:updated");
        	}

    	});
		/********** FIN **************/

		/********** PARA QUITAR LA FECHA DESSELECCIONADA DE CHOSEN ************/
		$(document).on('change', '#fechas_no_laborables', function(){
			value = $($('#fechas_no_laborables option').not(':selected')[0]).val();
			$('#fechas_no_laborables option[value="'+value+'"]').remove();
			$("#fechas_no_laborables").trigger("chosen:updated");
		});
		/********** FIN **************/

		/********** PARA ENVIAR LAS FECHAS NO LABORABLES **********/
		$(document).on('click', '#enviar_fechas_no_laborables', function(){
			var postData = $('#fechas_no_laborables_form').serializeArray();
			$.ajax({
				method: 'POST',
				headers: { "X-CSRFToken": token},
				url: '{% url "marcar_fechas_no_laborables" %}',
				data:postData,
				dataType: 'json',
				beforeSend: function(xhr) {
					$('#contenedor_fechas').hide();
					$('#spinner_form').show();
				},
				complete: function(){
					$('#spinner_form').hide();
					$('#contenedor_fechas').show();
				},
			})
			.done(function(data){
				if(data.valido){
					$('#fechas_no_laborables_modal').modal('hide');
					$('#mensaje_confirmacion').html(
					'<div class="alert alert-success alert-dismissible" role="alert">\
						 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>\
						 Se han agregado correctamente las fechas no laborables\
					</div>'
					);
				}
				else{
					$('#fechas_errores').html(data.error_msg);
				}
			})
		});
		/********** FIN **************/

		/************** MODAL PARA ESCOGER HORARIOS DE ATENCIÓN ***************/
		$(document).on('click', '#seleccionar_horarios_atencion', function(){
			$('#horarios_atencion_modal').modal();
		});
		/******* FIN *******/

		/******* ENVIAR LOS HORARIOS DE ATENCIÓN *********/
		$(document).on('click', '#enviar_horarios_atencion', function(){
			var postData = $('#horarios_atencion_form').serializeArray();
			$.ajax({
				method: 'POST',
				headers: { "X-CSRFToken": token},
				url: '{% url "establecer_horarios_atencion" %}',
				data:postData,
				dataType: 'json',
				beforeSend: function(xhr) {
					$('#contenedor_horarios').hide();
					$('#spinner_form_horarios').show();
				},
				complete: function(){
					$('#spinner_form_horarios').hide();
					$('#contenedor_horarios').show();
				},
			})
			.done(function(data){
				if(data.valido){
					$('#horarios_atencion_modal').modal('hide');
					$('#mensaje_confirmacion').html(
					'<div class="alert alert-success alert-dismissible" role="alert">\
						 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>\
						 Se han establecido correctamente los horarios de atención\
					</div>'
					);
				}
				else{
					$('#fechas_errores').html(data.error_msg);
				}
			})
		});
		/******* FIN ******/

		/******* ENVIAR DIAS DE HOLGURA DE RESERVA *********/
		$(document).on('click', '#enviar_holgura_reserva', function(){
			var postData = $('#dias_holgura_form').serializeArray();
			$.ajax({
				method: 'POST',
				headers: { "X-CSRFToken": token},
				url: '{% url "admin_establecer_holgura_reserva" %}',
				data:postData,
				dataType: 'json',
			})
			.done(function(data){
				if(data.valido){
					
				}
				else{
					$('#dias_holgura_errores').html(data.error_msg);
				}
			})
		});
		/******* FIN ******/

	})
	</script>
{% endblock %}