{% extends "base.html" %}

{% block main_content %}
<div class="container-fluid">
	<div class="row">
		<div class="panel panel-dashboard-gray">
			<div class="panel-heading">
				<h4>Agregar Notificaci&oacute;n</h4>
			</div>
			<div class="panel-body">
				<form id="notificacion_form" {%if editar%}action=""{%else%}action="{% url 'admin_crear_notificacion' %}"{%endif%}  method="POST" novalidate role="form">
					{% csrf_token %}
					<div class="row">
						<div class="col-xs-4">
							<label>Asunto:</label>
							{{form.asunto}}
							<span class="help-block with-errors"></span>
						</div>
						<div class="col-xs-4">
							<label>Tipo de notificaci&oacute;n:</label>
							<select id="id_tipo_notificacion" name="tipo_notificacion" class="form-control">
								{% for tipo_notificacion in tipos_notificaciones %}
									<option id="{{tipo_notificacion.codigo}}" value="{{tipo_notificacion.id}}" {% if tipo_notificacion.id == form.tipo_notificacion.value %} selected {% endif %}>{{tipo_notificacion.descripcion}}</option>
								{% endfor %}
							</select>
							<span class="help-block with-errors"></span>
						</div>
						<div id="id_encuesta_content" class="col-xs-4">
							<label>Encuesta:</label>
							{{form.encuesta}}
							<span class="help-block with-errors"></span>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-xs-12">
							<label>Mensaje:</label>
							{{form.mensaje}}
							<span class="help-block with-errors"></span>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-xs-6">
							<a href="{% url 'admin_notificaciones' %}" class="btn btn-danger col-xs-12">Volver</a>
						</div>
						<div class="col-xs-6">
							<input type="submit" class="btn btn-primary col-xs-12" value="Guardar">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
	{{ block.super }}
	<script type="application/javascript">
		$(document).ready(function(){

			if($('#id_tipo_notificacion :selected').attr('id') != 'NOTI_ENC')
				$('#id_encuesta_content').hide('fade');

			if($('#id_encuesta').val())
				$('#id_encuesta').children()[0].remove();

			$('#id_tipo_notificacion').change(function(){
				if($('#id_tipo_notificacion :selected').attr('id') == 'NOTI_ENC'){
					$('#id_encuesta').children()[0].remove();
					$('#id_encuesta_content').show('fade');
				}
				else{
					$('#id_encuesta').prepend('<option value="" selected="selected">---------</option>')
					$('#id_encuesta_content').hide('fade');
				}
			});

		});
	</script>
{% endblock %}