{% extends "base.html" %}
{% load sgt_tags %}


{% block main_content %}
{% include 'admin/modales_admin.html' %}

<div class="container-fluid">
	<div class="row">
		<div class="panel panel-dashboard-gray">
			<div class="panel-heading">
				<h4>Agregar Encuesta</h4>
			</div>
			<div class="panel-body">
				<form id="encuesta_form" {%if editar%}action="{% url 'admin_editar_encuesta' encuesta.id %}"{%else%}action="{% url 'admin_crear_encuesta' %}"{%endif%} method="POST" novalidate role="form">
					{% csrf_token %}
					{{form.extra_field_count}}
					<div class="row">
						<div class="col-xs-4">
							<label>Nombre:</label>
							{{form.nombre}}
							<span class="help-block with-errors"></span>
						</div>
						<div class="col-xs-4">
							<label>Descripci&oacute;n:</label>
							{{form.descripcion}}
							<span class="help-block with-errors"></span>
						</div>
						<div class="col-xs-4">
							<label>Tipo de encuesta:</label>
							<select name="tipo_encuesta" class="form-control">
								{% for tipo_encuesta in tipos_encuesta %}
									<option value="{{tipo_encuesta.id}}" {% if editar %} {% if encuesta.tipo_encuesta.codigo == tipo_encuesta.codigo %} selected {% endif %} {% endif %}>{{tipo_encuesta.descripcion}}</option>
								{% endfor %}
							</select>

						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-xs-6">
							<h4><strong>Contenido:</strong></h4>
						</div>
						<div class="col-xs-6">
							<a href="#" id="crear_section" class="btn btn-primary pull-right" role="button" title="Agregar Pregunta">
					  			Agregar Pregunta
					  		</a>
						</div>
					</div>
					<div id="contenido">

						{% if editar %}
							{% for p in encuesta_preguntas %}
								{% with i=forloop.counter %}
								<div id="section_{{ i }}">
									<hr>
									<div class="row">
										<div class="col-xs-8">
											<h4 id="title_preg_{{ i }}"><strong>Pregunta {{ i }}</strong></h4>
										</div>
										<div class="col-xs-4">
											<a class="btn btn-danger pull-right section_elim" target="section_{{ i }}" role="button" title="Borrar Pregunta">Borrar Pregunta</a>
										</div>
									</div>
									<br>
									<div class="row">
										<div class="col-xs-4">
											<label>Tipo de respuesta:</label>
											<select id="id_tipo_respuesta_{{ i }}" name="tipo_respuesta_{{ i }}" class="form-control tipo_respuesta_select" target="id_pregunta_{{ i }} id_respuestas_definidas_{{ i }}">
												{% for tipo_respuesta in tipos_respuesta %}
													<option id="{{tipo_respuesta.codigo}}" value="{{tipo_respuesta.id}}" {% if p.tipo_respuesta.codigo == tipo_respuesta.codigo %} selected {% endif %}>{{tipo_respuesta.descripcion}}</option>
												{% endfor %}
											</select>
										</div>
									</div>
									<br>
									<div class="row">
										<div class="col-xs-6">
											<div class="row">
												<div class="col-xs-10">
													<label>Pregunta:</label>
													<select id="id_pregunta_{{ i }}" name="pregunta_{{ i }}" class="form-control chosen-select pregunta_select" data-placeholder="Seleccione una pregunta...">
														<option value="-1"></option>
														{% for pregunta in preguntas %}
															{% if pregunta.tipo_respuesta.codigo == p.tipo_respuesta.codigo %}
																<option value="{{pregunta.id}}" {% if pregunta.id == p.id %} selected {% endif %} {% if pregunta in encuesta_preguntas %} disabled {% endif %}>{{pregunta.enunciado}}</option>
															{% endif %}
														{% endfor %}
													</select>
												</div>
												<div class="col-xs-1" align="right" style="width:20%; margin-left:-4%">
													<br>
													<div class="btn-group" role="group">
														<a class="btn btn-danger eliminar_preguntas" target="id_pregunta_{{ i }}" title="Eliminar Preguntas" role="button"><i class="fa fa-trash"></i></a>
														<a class="btn btn-info crear_pregunta" target="id_pregunta_{{ i }}" role="button" data-toggle="modal" title="Crear Pregunta" data-target="#modal_pregunta"><i class="fa fa-plus"></i></a>
													</div>
												</div>
											</div>
										</div>
										<div id="id_respuestas_definidas_{{ i }}" class="col-xs-6">
											<div class="row">
												<div class="col-xs-10">
													<label>Respuesta:</label>
													<select multiple id="id_valor_{{ i }}" name="valores_posibles_{{ i }}" class="form-control select-mul respuesta_select" data-placeholder="Seleccione la respuesta...">
														{% with valores_actuales=valores_pregunta_encuesta|get_dict_val:p.id %}
														{% for valor in valores %}
															{% if valor not in valores_actuales %}
															<option value="{{valor.id}}">{{valor.valor}}</option>
															{% endif %}
														{% endfor %}
														{% for valor in valores_actuales %}
															<option value="{{valor.id}}" selected>{{valor.valor}}</option>
														{% endfor %}
														{% endwith %}
													</select>
												</div>
												<div class="col-xs-1" align="right" style="width:20%; margin-left:-4%">
													<br>
													<div class="btn-group" role="group">
														<a class="btn btn-danger eliminar_respuestas" target="id_valor_{{ i }}" role="button" title="Eliminar respuestas"><i class="fa fa-trash"></i></a>
														<a class="btn btn-info crear_respuesta" target="id_valor_{{ i }}" role="button" data-toggle="modal" title="Crear Respuesta" data-target="#modal_respuesta"><i class="fa fa-plus"></i></a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<br>
								</div>
								{% endwith %}
							{% endfor %}
						{% endif %}
					</div>
					<br><br>
					<div class="row">
						<div class="col-xs-6">
							<a href="#" class="btn btn-danger col-xs-12">Volver</a>
						</div>
						<div class="col-xs-6">
							<input type="submit" class="btn btn-primary col-xs-12" value="Guardar">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

</div>

<div class="modal fade" id="modal_pregunta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="modal-title text-success" id="myModalLabel">Crear Pregunta</h3>
			</div>
			<form id="pregunta_form">
			{% csrf_token %}
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-12">
						<label>Pregunta:</label>
						{{form_preg.enunciado}}
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-xs-12">
						<label>Tipo respuesta:</label>
						<select id="id_tipo_respuesta_nueva" name="tipo_respuesta" class="form-control">
							{% for tipo_respuesta in tipos_respuesta %}
								<option value="{{tipo_respuesta.id}}">{{tipo_respuesta.descripcion}}</option>
							{% endfor %}
						</select>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" type="submit" data-dismiss="modal">Cancelar</button>
				<button class="btn btn-primary">Guardar</button>
			</div>
			</form>
  		</div>
  	</div>
</div>

<div class="modal fade" id="modal_respuesta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="modal-title text-success" id="myModalLabel">Crear Respuesta</h3>
			</div>
			<form id="respuesta_form">
			{% csrf_token %}
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-12">
						<label>Respuesta:</label>
						{{form_val.valor}}
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" type="submit" data-dismiss="modal">Cancelar</button>
				<button class="btn btn-primary">Guardar</button>
			</div>
			</form>
  		</div>
  	</div>
</div>

<div class="modal fade" id="modal_lista_preguntas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="modal-title text-success" id="myModalLabel">Lista de Preguntas</h3>
			</div>
			<form id="eliminar_pregunta_form">
			{% csrf_token %}
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-12">
						<input id="preguntas_elim" type="hidden">
						<ul id="lista_preguntas" class="list-group"></ul>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" type="submit" data-dismiss="modal">Cancelar</button>
				<button class="btn btn-primary">Guardar</button>
			</div>
			</form>
  		</div>
  	</div>
</div>

<div class="modal fade" id="modal_lista_respuestas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="modal-title text-success" id="myModalLabel">Lista de Respuestas</h3>
			</div>
			<form id="eliminar_respuesta_form">
			{% csrf_token %}
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-12">
						<input id="valores_elim" type="hidden">
						<ul id="lista_valores" class="list-group"></ul>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" type="submit" data-dismiss="modal">Cancelar</button>
				<button class="btn btn-primary">Guardar</button>
			</div>
			</form>
  		</div>
  	</div>
</div>

{% endblock %}

{% block javascripts %}
	{{ block.super }}
	<script type="application/javascript">

		var total_preguntas = $("[name=extra_field_count]").val();

		var prev_preg_list = [
			{% if editar %}
				{% for pregunta in encuesta_preguntas %} 
					{% if not forloop.first %},{% endif %}
					{{ pregunta.id }}
				{% endfor %}
			{% endif %}
		];
		
		var preg_list = [ 
			{% for pregunta in preguntas %} 
				{% if not forloop.first %},{% endif %}
				{ 'id': {{pregunta.id}}, 'enunciado': '{{pregunta.enunciado}}', 'tipo_respuesta': '{{pregunta.tipo_respuesta.codigo}}', 'disabled': {% if pregunta in encuesta_preguntas %} 'disabled' {% else %} '' {% endif %} }
			{% endfor %}
		];

		var tip_resp_list = [ 
			{% for tipo_respuesta in tipos_respuesta %}
				{% if not forloop.first %},{% endif %}
				{ 'id': {{tipo_respuesta.id}}, 'codigo': '{{tipo_respuesta.codigo}}', 'descripcion': '{{tipo_respuesta.descripcion}}' }
			{% endfor %}
		];

		var val_list = [
			{% for valor in valores %} 
				{% if not forloop.first %},{% endif %}
				{ 'id': {{valor.id}}, 'valor': '{{valor.valor}}' }
			{% endfor %}
		];

		$(document).ready(function(){
			var target_pregunta = '';
			var target_respuesta = '';

			{% if editar %}
				$('.tipo_respuesta_select').each(function(key, value){
					init_tipo_resp_sel($(value));
				});

				$('.select-mul').chosen({
		  			no_results_text: 'No se encontraron resultados para'
				});

				$('.chosen-select').chosen({
		  			no_results_text: 'No se encontraron resultados para'
				});
			{% endif %}

			$(document).on("click", ".crear_pregunta, .eliminar_preguntas", function(){
				target_pregunta = '#' + $(this).attr('target');
				if($(this).hasClass('eliminar_preguntas'))
					fill_list_elim('modal_lista_preguntas', target_pregunta, 'preguntas_elim', 'lista_preguntas', 'pregunta_');
			});

			$(document).on("click", ".crear_respuesta, .eliminar_respuestas", function(){
				target_respuesta = '#' + $(this).attr('target');
				if($(this).hasClass('eliminar_respuestas'))
					fill_list_elim('modal_lista_respuestas' , target_respuesta, 'valores_elim', 'lista_valores', 'valor_');
			});
			
			$(document).on("change", ".pregunta_select", function(){
				id_select = $(this).attr('id');
				index = parseInt(id_select[id_select.length - 1]) - 1;
				update_select_preguntas(index, $(this).val());		
			});

			$(document).on("change", ".respuesta_select", function(evt, params){
				if(params.hasOwnProperty('selected')){
					resp_val = params['selected'];
					sel_object = $(this).children('option[value='+resp_val+']');
					resp_text = sel_object.text();

					sel_object.remove();
					$(this).append('<option value="'+resp_val+'" selected>'+resp_text+'</option>');
				}

				if(params.hasOwnProperty('deselected')){
					resp_val = params['deselected'];
					sel_object = $(this).children('option[value='+resp_val+']');
					resp_text = sel_object.text();

					sel_object.remove();
					$(this).prepend('<option value="'+resp_val+'">'+resp_text+'</option>');
				}

				$(this).trigger('chosen:updated');
			});

			$('#pregunta_form').submit(function(event){
				event.preventDefault();
				$('#modal_pregunta').modal('hide');
				generic_modal_title = '&iquest;Est&aacute; seguro que desea registrar esta pregunta?';
				
				generic_modal_content = '<div class="row">\
											<div class="col-xs-6">\
												<laberl>Pregunta:</label>\
												<p>&emsp;'+$('#nueva_pregunta').val()+'</p>\
											</div>\
											<div class="col-xs-6">\
												<laberl>Tipo respuesta:</label>\
												<p>&emsp;'+$('#id_tipo_respuesta_nueva :selected').text()+'</p>\
											</div>\
										</div>';

				next_modal_ref = 'guardar_nueva_pregunta';

				fill_generic_modal(generic_modal_title, generic_modal_content, next_modal_ref);
			});

			$(document).on("click", "#guardar_nueva_pregunta", function(){
				$.ajax({
				    type: 'POST',
				    url: '{% url "admin_crear_pregunta" %}',
				    dataType: "json",
				    data:{
				        'enunciado': $('#nueva_pregunta').val(),
				        'tipo_respuesta': $('#id_tipo_respuesta_nueva').val(),
				        'csrfmiddlewaretoken': '{{ csrf_token }}'
				    },
				    success:function(data){
				        console.log(data);
				        reset_generic_modal();
				        $('#nueva_pregunta').val('');
				        preg_list.push({'id': data.id_pregunta, 'enunciado': data.enunciado, 'tipo_respuesta': data.tipo_respuesta, 'disabled': ''});

				        $('.pregunta_select').each(function(key, value){
				        	id_sel_preg = '#' + $(this).attr('id')
				        	index = parseInt(id_sel_preg[id_sel_preg.length - 1]);
				        	id_sel_tip_resp = $('#id_tipo_respuesta_'+index+' option[value='+$('#id_tipo_respuesta_'+index).val()+']').attr('id');

				        	if(data.tipo_respuesta == id_sel_tip_resp){
						        $(id_sel_preg).append('<option value="'+data.id_pregunta+'">'+data.enunciado+'</option>');
						        if(id_sel_preg = target_pregunta){
							        $(id_sel_preg).find('option:selected').removeAttr('selected');
							        $(id_sel_preg + ' option[value='+data.id_pregunta+']').attr('selected', '');
							    }
							}
				        });

				        index = parseInt(target_pregunta[target_pregunta.length - 1]) - 1;
				        update_select_preguntas(index, data.id_pregunta);
				    },
				    error: function(){
				    	console.log("Error...");
				    }
			    });
			});

			$('#eliminar_pregunta_form').submit(function(event){
				event.preventDefault();
				$('#modal_lista_preguntas').modal('hide');
				preg_elim = $('#preguntas_elim').val();
				if(preg_elim.trim()){
					generic_modal_title = '&iquest;Est&aacute; seguro que desea eliminar estas preguntas?';

					generic_modal_content = '<div class="row"><div class="col-xs-6">';

					preg_elim = preg_elim.split('|');
					for(i = 0; i < preg_elim.length; i++){
						for(j = 0; j < preg_list.length; j++){
							if(preg_list[j].id == preg_elim[i])
								generic_modal_content += '<p>&emsp;'+preg_list[j].enunciado+'</p>';
						}
					}
					
					generic_modal_content += '<div></div>';

					next_modal_ref = 'eliminar_viejas_preguntas';

					fill_generic_modal(generic_modal_title, generic_modal_content, next_modal_ref);
				}
			});

			$(document).on("click", "#eliminar_viejas_preguntas", function(){
				value = $('#preguntas_elim').val();
				$('#preguntas_elim').val('');
				if(value){
					$.ajax({
					    type: 'POST',
					    url: '{% url "admin_eliminar_pregunta" %}',
					    dataType: "json",
					    data:{
					        'preguntas_id': value,
					        'csrfmiddlewaretoken': '{{ csrf_token }}'
					    },
					    success:function(data){
					        console.log(data);
					        reset_generic_modal();
					        preg_elim = value.split('|');
							for(i = 0; i < preg_elim.length; i++){
								$('.pregunta_select option[value='+preg_elim[i]+']').remove();
								for(j = 0; j < preg_list.length; j++){
									if(preg_list[j].id == preg_elim[i])
										preg_list.splice(j, 1);
								}
							}
							$('.pregunta_select').trigger("chosen:updated");
					    },
					    error: function(){
					    	console.log("Error...");
					    }
				    });
				}
			});

			$('#respuesta_form').submit(function(event){
				event.preventDefault();
				$('#modal_respuesta').modal('hide');
				generic_modal_title = '&iquest;Est&aacute; seguro que desea registrar esta respuesta?';

				generic_modal_content = '<div class="row">\
											<div class="col-xs-6">\
												<laberl>Respuesta:</label>\
												<p>&emsp;'+$('#nuevo_valor').val()+'</p>\
											</div>\
										</div>';

				next_modal_ref = 'guardar_nueva_respuesta';

				fill_generic_modal(generic_modal_title, generic_modal_content, next_modal_ref);
			});

			$(document).on("click", "#guardar_nueva_respuesta", function(){
				$.ajax({
				    type: 'POST',
				    url: '{% url "admin_crear_respuesta" %}',
				    dataType: "json",
				    data:{
				        'valor': $('#nuevo_valor').val(),
				        'csrfmiddlewaretoken': '{{ csrf_token }}'
				    },
				    success:function(data){
				        console.log(data);
				        reset_generic_modal();
				        $('#nuevo_valor').val('');
				        val_list.push({'id': data.id_respuesta, 'valor': data.valor});
				        $('.respuesta_select').each(function(key, value){
				        	id_select = '#' + $(value).attr('id');
				        	if(id_select == target_respuesta)
				        		$(value).append('<option value="'+data.id_respuesta+'" selected>'+data.valor+'</option>');
				        	else
				        		$(value).prepend('<option value="'+data.id_respuesta+'">'+data.valor+'</option>');
				        });
				        $('.respuesta_select').trigger("chosen:updated");
				    },
				    error: function(){
				    	console.log("Error...");
				    }
			    });
			});

			$('#eliminar_respuesta_form').submit(function(event){
				event.preventDefault();
				$('#modal_lista_respuestas').modal('hide');
				val_elim = $('#valores_elim').val();
				if(val_elim.length){
					generic_modal_title = '&iquest;Est&aacute; seguro que desea eliminar estas respuestas?';

					generic_modal_content = '<div class="row"><div class="col-xs-6">';

					val_elim = val_elim.split('|');
					for(i = 0; i < val_elim.length; i++){
						for(j = 0; j < val_list.length; j++){
							if(val_list[j].id == val_elim[i])
								generic_modal_content += '<p>&emsp;'+val_list[j].valor+'</p>';
						}
					}

					generic_modal_content += '<div></div>';

					next_modal_ref = 'eliminar_viejas_respuestas';

					fill_generic_modal(generic_modal_title, generic_modal_content, next_modal_ref);
				}
			});

			$(document).on("click", "#eliminar_viejas_respuestas", function(){
				value = $('#valores_elim').val();
				$('#valores_elim').val('');
				if(value){
					$.ajax({
					    type: 'POST',
					    url: '{% url "admin_eliminar_respuesta" %}',
					    dataType: "json",
					    data:{
					        'valores_id': value,
					        'csrfmiddlewaretoken': '{{ csrf_token }}'
					    },
					    success:function(data){
					        console.log(data);
					        reset_generic_modal();
					        val_elim = value.split('|');
							for(i = 0; i < val_elim.length; i++){
								$('.respuesta_select option[value='+val_elim[i]+']').remove();
								for(j = 0; j < val_list.length; j++){
									if(val_list[j].id == val_elim[i])
										val_list.splice(j, 1);
								}
							}
							$('.respuesta_select').trigger("chosen:updated");
					    },
					    error: function(){
					    	console.log("Error...");
					    }
				    });
				}
			});

			$(document).on("click", ".item_elim", function(){
				id_targets = $(this).attr('target');
				id_targets = id_targets.split(' ');
				id_element = id_targets[0].split('_');

				if($('#' + id_targets[1]).val())
					new_val_elim = $('#' + id_targets[1]).val() + '|' + id_element[1];
				else
					new_val_elim = id_element[1];

				$('#' + id_targets[1]).val(new_val_elim);
				$('#' + id_targets[0]).remove();
			});

			$(document).on("click", "#crear_section", function(){
				total_preguntas++;
				$("[name=extra_field_count]").val(total_preguntas);

				$('#contenido').append('<div id="section_'+total_preguntas+'">\
											<hr>\
											<div class="row">\
												<div class="col-xs-8">\
													<h4 id="title_preg_'+total_preguntas+'"><strong>Pregunta '+total_preguntas+'</strong></h4>\
												</div>\
												<div class="col-xs-4">\
													<a class="btn btn-danger pull-right section_elim" target="section_'+total_preguntas+'" role="button" title="Borrar Pregunta">Borrar Pregunta</a>\
												</div>\
											</div>\
											<br>\
											<div class="row">\
												<div class="col-xs-4">\
													<label>Tipo respuesta:</label>\
													<select id="id_tipo_respuesta_'+total_preguntas+'" target="id_pregunta_'+total_preguntas+' id_respuestas_definidas_'+total_preguntas+'" name="tipo_respuesta_'+total_preguntas+'" class="form-control tipo_respuesta_select">\
													</select>\
												</div>\
											</div>\
											<br>\
											<div class="row">\
												<div class="col-xs-6">\
													<div class="row">\
														<div class="col-xs-10">\
															<label>Pregunta:</label>\
															<select data-placeholder="Seleccione una pregunta..." id="id_pregunta_'+total_preguntas+'" name="pregunta_'+total_preguntas+'" class="form-control chosen-select pregunta_select">\
																<option value="-1" selected></option>\
															</select>\
														</div>\
														<div class="col-xs-1" align="right" style="width:20%; margin-left:-4%">\
															<br>\
															<div class="btn-group" role="group">\
																<a class="btn btn-danger eliminar_preguntas" target="id_pregunta_'+total_preguntas+'" title="Eliminar Preguntas" role="button"><i class="fa fa-trash"></i></a>\
																<a class="btn btn-info crear_pregunta" target="id_pregunta_'+total_preguntas+'" role="button" data-toggle="modal" title="Crear Pregunta" data-target="#modal_pregunta"><i class="fa fa-plus"></i></a>\
															</div>\
														</div>\
													</div>\
												</div>\
												<div id="id_respuestas_definidas_'+total_preguntas+'" class="col-xs-6">\
													<div class="row">\
														<div class="col-xs-10">\
															<label>Respuesta:</label>\
															<select multiple data-placeholder="Seleccione la respuesta..." id="id_valor_'+total_preguntas+'" name="valores_posibles_'+total_preguntas+'" class="form-control select-mul respuesta_select">\
															</select>\
														</div>\
														<div class="col-xs-1" align="right" style="width:20%; margin-left:-4%">\
															<br>\
															<div class="btn-group" role="group">\
																<a class="btn btn-danger eliminar_respuestas" target="id_valor_'+total_preguntas+'" role="button" title="Eliminar respuestas"><i class="fa fa-trash"></i></a>\
																<a class="btn btn-info crear_respuesta" target="id_valor_'+total_preguntas+'" role="button" data-toggle="modal" title="Crear Respuesta" data-target="#modal_respuesta"><i class="fa fa-plus"></i></a>\
															</div>\
														</div>\
													</div>\
												</div>\
											</div>\
											<br>\
										</div>');

				for(i = 0; i < tip_resp_list.length; i++)
					$('#id_tipo_respuesta_'+total_preguntas).append('<option id="'+tip_resp_list[i].codigo+'" value="'+tip_resp_list[i].id+'">'+tip_resp_list[i].descripcion+'</option>');

				init_tipo_resp_sel($('#id_tipo_respuesta_'+total_preguntas));

				for(i = 0; i < preg_list.length; i++){
					if(preg_list[i].tipo_respuesta == $('#id_tipo_respuesta_'+total_preguntas+' option[value='+$('#id_tipo_respuesta_'+total_preguntas).val()+']').attr('id')){
						$('#id_pregunta_'+total_preguntas).append('<option value="'+preg_list[i].id+'" '+preg_list[i].disabled+'>'+preg_list[i].enunciado+'</option>');
					}
				}

				$('#id_pregunta_'+total_preguntas).chosen({
					no_results_text: 'No se encontraron resultados para'
				});

				prev_preg_list.push(-1);

				for(i = 0; i < val_list.length; i++)
					$('#id_valor_'+total_preguntas).append('<option value="'+val_list[i].id+'">'+val_list[i].valor+'</option>');

				$('#id_valor_'+total_preguntas).chosen({
		  			no_results_text: 'No se encontraron resultados para'
				});
			});

			$(document).on("click", ".section_elim", function(){
				del_section = '#' + $(this).attr('target');
				index = parseInt(del_section[del_section.length - 1]);
				update_select_preguntas(index - 1, -1);
				prev_preg_list.splice(index - 1, 1);
				index++;
				$(del_section).remove();

				for(i = index; i <= total_preguntas; i++){
					j = i - 1;

					$('#title_preg_' + i).html('<strong>Pregunta '+j+'</strong>');
					$('#title_preg_' + i).attr('id', 'title_preg_' + j);
					
					$('.section_elim[target="section_' + i+'"]').attr('target', 'section_' + j);
					$('#section_' + i).attr('id', 'section_' + j);

					$('#id_tipo_respuesta_' + i).attr('name', 'tipo_respuesta_' + j);
					$('#id_tipo_respuesta_' + i).attr('target', 'id_pregunta_' + j + ' ' + 'id_respuestas_definidas_' + j);
					$('#id_tipo_respuesta_' + i).attr('id', 'id_tipo_respuesta_' + j);
					$('#id_respuestas_definidas_' + i).attr('id', 'id_respuestas_definidas_' + j);
					init_tipo_resp_sel($('#id_tipo_respuesta_' + j));
					
					$('.crear_pregunta[target="id_pregunta_' + i+'"]').attr('target', 'id_pregunta_' + j);
					$('.eliminar_preguntas[target="id_pregunta_' + i+'"]').attr('target', 'id_pregunta_' + j);
					$('#id_pregunta_' + i).attr('name', 'pregunta_' + j);
					$('#id_pregunta_' + i).attr('id', 'id_pregunta_' + j);
					$('#id_pregunta_' + j).chosen('destroy');
					$('#id_pregunta_' + j).chosen({
						no_results_text: 'No se encontraron resultados para'
					});

					$('.crear_respuesta[target="id_valor_' + i+'"]').attr('target', 'id_valor_' + j);
					$('.eliminar_respuestas[target="id_valor_' + i+'"]').attr('target', 'id_valor_' + j);
					$('#id_valor_' + i).attr('name', 'valores_posibles_' + j);
					$('#id_valor_' + i).attr('id', 'id_valor_' + j);
					$('#id_valor_' + j).chosen('destroy');
					$('#id_valor_' + j).chosen({
						no_results_text: 'No se encontraron resultados para'
					});
				}

				total_preguntas--;
				$("[name=extra_field_count]").val(total_preguntas);
			});


			$('#encuesta_form').submit(function(event){
				event.preventDefault();
				$('.pregunta_select').find('option:disabled').removeAttr('disabled');
				$('.pregunta_select').trigger("chosen:updated");
				$(this).unbind("submit").submit();
			});
		});

		function fill_generic_modal(title, content, ref_next_modal){
			$('#title_modal_generic').html(title);
			$('#body_modal_generic').html(content);
			$('#footer_modal_generic').html('<div class="row">\
												<div class="col-xs-6">\
													<button type="button" class="btn btn-danger col-xs-12" data-dismiss="modal">Cancelar</button>\
												</div>\
												<div class="col-xs-6">\
													<button id="'+ref_next_modal+'" class="btn btn-primary col-xs-12">Aceptar</button>\
												</div>\
											</div>');

			$('#modal_generic').modal('show');
		}

		function reset_generic_modal(){
			$('#title_modal_generic').empty();
			$('#body_modal_generic').empty();
			$('#footer_modal_generic').empty();
			$('#modal_generic').modal('hide');
		}

		function fill_list_elim(modal_list, id_select, id_input, id_list, str_token){
			texts = [];
			values = [];
			$('#' + id_input).val('');

			if(str_token == 'pregunta_'){
				for(i = 0; i < preg_list.length; i++){
					values.push(preg_list[i].id);
					texts.push(preg_list[i].enunciado);
				}
			}

			if(str_token == 'valor_'){
				for(i = 0; i < val_list.length; i++){
					values.push(val_list[i].id);
					texts.push(val_list[i].valor);
				}
			}

			$('#' + id_list).empty();
			for(i = 0; i < values.length; i++){
				$('#' + id_list).append('<li id="'+str_token+values[i]+'" class="list-group-item">\
												<div align="right">\
													<p class="pull-left">'+texts[i]+'</p>\
													<a class="btn btn-danger item_elim" target="'+str_token+values[i]+' '+id_input+'" role="button">\
														<i class="fa fa-trash"></i>\
													</a>\
												</div>\
											</li>');
			}

			$('#' + modal_list).modal('show');
		}

		function init_tipo_resp_sel(sel_select){
			target_vals = sel_select.attr('target').split(' ');
			id_sel = '#' + sel_select.attr('id');
			target_resp_content = '#' + target_vals[1]; 

			if($(id_sel+' :selected').attr('id') != 'RESP_DEF')
				$(target_resp_content).hide('fade');

			sel_select.change(function(){
				id_sel = '#' + $(this).attr('id');
				target_vals = $(id_sel).attr('target').split(' ');
				target_preg_sel = '#' + target_vals[0];
				target_resp_content = '#' + target_vals[1];

				if($(id_sel+' :selected').attr('id') != 'RESP_DEF')
					$(target_resp_content).hide('fade');
				else
					$(target_resp_content).show('fade');

				value = $(this).val();
				index = parseInt(target_preg_sel[target_preg_sel.length - 1]) - 1;
				update_select_preguntas(index, -1);
				$(target_preg_sel).empty();
				$(target_preg_sel).append('<option value="-1" selected></option>');

				for(i = 0; i < preg_list.length; i++){
					if(preg_list[i].tipo_respuesta == $(id_sel+' option[value='+value+']').attr('id')){
						$(target_preg_sel).append('<option value="'+preg_list[i].id+'" '+preg_list[i].disabled+'>'+preg_list[i].enunciado+'</option>');
					}
				}

				$(target_preg_sel).trigger("chosen:updated");
			});
		}

		function update_select_preguntas(index, val_select){
			if(val_select != -1){
				$('.pregunta_select option[value='+val_select+']').attr('disabled', '');

				for(i = 0; i < preg_list.length; i++){
					if(preg_list[i].id == val_select)
						preg_list[i].disabled = 'disabled';
				}
			}
			if(prev_preg_list[index] != -1){
				$('.pregunta_select option[value='+prev_preg_list[index]+']').removeAttr('disabled');
				for(i = 0; i < preg_list.length; i++){
					if(preg_list[i].id == prev_preg_list[index])
						preg_list[i].disabled = '';
				}
			}
			prev_preg_list[index] = val_select;
			$('.pregunta_select').trigger("chosen:updated");
		}

	</script>
{% endblock %}