{% extends "base.html" %}

{% block main_content %}
<div class="container-fluid">
	<div class="row">
		<div class="panel panel-dashboard-gray">
			<div class="panel-heading">
				<h4>Agregar Notificaci&oacute;n</h4>
			</div>
			<div class="panel-body">
				<form id="notificacion_form" {%if editar%}action=""{%else%}action="{% url 'admin_crear_notificacion' %}"{%endif%}  method="POST" novalidate role="form">
					{% csrf_token %}
					<div class="row">
						<div class="col-xs-4">
							<label>Tipo de notificaci&oacute;n:</label>
							{{form.tipo_notificacion}}
							<span class="help-block with-errors"></span>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-xs-12">
							<label>Mensaje:</label>
							{{form.mensaje}}
							<span class="help-block with-errors"></span>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-xs-6">
							<a href="{% url 'admin_centros' %}" class="btn btn-danger col-xs-12">Volver</a>
						</div>
						<div class="col-xs-6">
							<input type="submit" class="btn btn-primary col-xs-12" value="Guardar">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}