{% extends "base.html" %}

{% block main_content %}
<div class="container-fluid">
	{% include 'admin/modales_admin.html' %}

	<div class="row">
		<div class="panel panel-dashboard-gray">
			<div class="panel-heading">
				<h4>Agregar Encuesta</h4>
			</div>
			<div class="panel-body">
				<form {%if editar%}action="{% url 'admin_editar_encuesta' centro_id %}"{%else%}action="{% url 'admin_crear_encuesta' %}"{%endif%} method="POST" novalidate role="form">
					{% csrf_token %}
					<div class="row">
						<div class="col-xs-6">
							<label >Nombre:</label>
							{{form.nombre}}
							<span class="help-block with-errors"></span>
						</div>
						<div class="col-xs-6">
							<label >Descripci&oacute;n:</label>
							{{form.descripcion}}
							<span class="help-block with-errors"></span>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-xs-6">
							<label>Tipo Encuesta:</label>
							<select id="id_tipo_encuesta" name="tipo_encuesta" class="form-control">
								{% for tipo_encuesta in tipos_encuesta %}
									<option value="{{tipo_encuesta.id}}">{{tipo_encuesta.descripcion}}</option>
								{% endfor %}
							</select>
						</div>
						<div class="col-xs-6">
							<label>Tipo respuesta:</label>
							<select id="id_tipo_respuesta" name="tipo_respuesta" class="form-control">
								{% for tipo_respuesta in tipos_respuesta %}
									<option id="{{tipo_respuesta.codigo}}" value="{{tipo_respuesta.id}}">{{tipo_respuesta.descripcion}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<br><br>
					<div class="row">
						<div class="col-xs-6">
							<div class="row">
								<div class="col-xs-10">
									<label>Pregunta:</label>
									<select data-placeholder="Seleccione una pregunta..." id="id_pregunta" name="pregunta" class="form-control chosen-select">
										{% for pregunta in preguntas %}
											<option value="{{pregunta.id}}">{{pregunta.enunciado}}</option>
										{% endfor %}
									</select>
								</div>
								<div class="col-xs-1" align="right" style="width:20%; margin-left:-4%">
									<br>
									<div class="btn-group" role="group">
										<a id="eliminar_preguntas" class="btn btn-danger" href="#" role="button">
								  			<i class="fa fa-trash"></i> 
								  		</a>
										<a class="btn btn-info" href="#" role="button" data-toggle="modal" title="Crear pregunta" data-target="#modal_pregunta">
								  			<i class="fa fa-plus"></i> 
								  		</a>
									</div>
								</div>
							</div>
						</div>
						<div id="id_respuestas_definidas" class="col-xs-6">
							<div class="row">
								<div class="col-xs-10">
									<label>Respuesta:</label>
									<select multiple data-placeholder="Seleccione la respuesta..." id="id_valor" name="valores_posibles" class="form-control select-mul">
										{% for valor in valores %}
											<option value="{{valor.id}}" {% if valor.valor_pregunta in preguntas %} selected {% endif %}>{{valor.valor}}</option>
										{% endfor %}
									</select>
								</div>
								<div class="col-xs-1" align="right" style="width:20%; margin-left:-4%">
									<br>
									<div class="btn-group" role="group">
										<a id="eliminar_respuestas" class="btn btn-danger" href="#" role="button" title="Eliminar respuesta">
								  			<i class="fa fa-trash"></i> 
								  		</a>
										<a id="crear_respuesta" class="btn btn-info" href="#" role="button" data-toggle="modal" title="Crear respuesta" data-target="#modal_respuesta">
								  			<i class="fa fa-plus"></i> 
								  		</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<br><br>
					<div class="row">
						<div class="col-xs-6">
							<a href="#" class="btn btn-danger col-xs-12">Volver</a>
						</div>
						<div class="col-xs-6">
							<input type="submit" class="btn btn-primary col-xs-12" value="Guardar">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

</div>

<div class="modal fade" id="modal_pregunta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="modal-title text-success" id="myModalLabel">Crear Pregunta</h3>
			</div>
			<form id="pregunta_form">
			{% csrf_token %}
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-12">
						<label>Pregunta:</label>
						{{form_preg.enunciado}}
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-xs-12">
						<label>Tipo respuesta:</label>
						<select id="id_tipo_respuesta_nueva" name="tipo_respuesta" class="form-control">
							{% for tipo_respuesta in tipos_respuesta %}
								<option value="{{tipo_respuesta.id}}">{{tipo_respuesta.descripcion}}</option>
							{% endfor %}
						</select>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" type="submit" data-dismiss="modal">Cancelar</button>
				<button class="btn btn-primary">Guardar</button>
			</div>
			</form>
  		</div>
  	</div>
</div>

<div class="modal fade" id="modal_respuesta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="modal-title text-success" id="myModalLabel">Crear Respuesta</h3>
			</div>
			<form id="respuesta_form">
			{% csrf_token %}
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-12">
						<label>Respuesta:</label>
						{{form_val.valor}}
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" type="submit" data-dismiss="modal">Cancelar</button>
				<button class="btn btn-primary">Guardar</button>
			</div>
			</form>
  		</div>
  	</div>
</div>

<div class="modal fade" id="modal_lista_preguntas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="modal-title text-success" id="myModalLabel">Lista de Preguntas</h3>
			</div>
			<form id="eliminar_pregunta_form">
			{% csrf_token %}
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-12">
						<input id="preguntas_elim" type="hidden">
						<ul id="lista_preguntas" class="list-group"></ul>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" type="submit" data-dismiss="modal">Cancelar</button>
				<button class="btn btn-primary">Guardar</button>
			</div>
			</form>
  		</div>
  	</div>
</div>

<div class="modal fade" id="modal_lista_respuestas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="modal-title text-success" id="myModalLabel">Lista de Respuestas</h3>
			</div>
			<form id="eliminar_respuesta_form">
			{% csrf_token %}
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-12">
						<input id="valores_elim" type="hidden">
						<ul id="lista_valores" class="list-group"></ul>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" type="submit" data-dismiss="modal">Cancelar</button>
				<button class="btn btn-primary">Guardar</button>
			</div>
			</form>
  		</div>
  	</div>
</div>

{% endblock %}

{% block javascripts %}
	{{ block.super }}
	<script type="application/javascript">

		$(document).ready(function(){
			//Inicialización de chosen para los selects múltiples
			$('.select-mul').chosen({
	  			no_results_text: 'No se encontraron resultados para'
			});

			$('.chosen-select').chosen();

			if($('#id_tipo_respuesta :selected').attr('id') != 'RESP_DEF')
				$('#id_respuestas_definidas').hide('fade');

			$('#id_tipo_respuesta').change(function(){
				if($('#id_tipo_respuesta :selected').attr('id') != 'RESP_DEF')
					$('#id_respuestas_definidas').hide('fade');
				else
					$('#id_respuestas_definidas').show('fade');

				value = $(this).val();
				if(value.length > 0){
					// LLamada AJAX para obtener las preguntas
					$.ajax({
					    type: 'GET',
					    url: '/sgt/admin/crear-pregunta/' + value,
					    dataType: "json",
					    success: function(data){
					        console.log(data);
					        $('#id_pregunta').empty();
							$.each(data, function(key, value){
								$('#id_pregunta').append('<option value="'+value.pk+'">'+value.fields.enunciado+'</option>');
							});
							$('#id_pregunta').trigger("chosen:updated");
					    },
					    error: function(data){
					    	console.log(data);
					    }
				    });
				}
			});

			$('#pregunta_form').submit(function(event){
				event.preventDefault();
				$('#modal_pregunta').modal('hide');
				generic_modal_title = '&iquest;Est&aacute; seguro que desea registrar esta pregunta?';
				
				generic_modal_content = '<div class="row">\
											<div class="col-xs-6">\
												<laberl>Pregunta:</label>\
												<p>&emsp;'+$('#nueva_pregunta').val()+'</p>\
											</div>\
											<div class="col-xs-6">\
												<laberl>Tipo respuesta:</label>\
												<p>&emsp;'+$('#id_tipo_respuesta_nueva :selected').text()+'</p>\
											</div>\
										</div>';

				next_modal_ref = 'guardar_nueva_pregunta';

				fill_generic_modal(generic_modal_title, generic_modal_content, next_modal_ref);
			});

			$(document).on("click", "#guardar_nueva_pregunta", function(){
				$.ajax({
				    type: 'POST',
				    url: '{% url "admin_crear_pregunta" %}',
				    dataType: "json",
				    data:{
				        'enunciado': $('#nueva_pregunta').val(),
				        'tipo_respuesta': $('#id_tipo_respuesta_nueva').val(),
				        'csrfmiddlewaretoken': '{{ csrf_token }}'
				    },
				    success:function(data){
				        console.log(data);
				        reset_generic_modal();

				        $('#id_pregunta').append('<option value="'+data.id_pregunta+'">'+data.enunciado+'</option>');
				        $('#id_pregunta').trigger("chosen:updated");
				    },
				    error: function(){
				    	console.log("Error...");
				    }
			    });
			});

			$('#eliminar_preguntas').on("click", function(){
				fill_list_elim('modal_lista_preguntas', 'id_pregunta', 'preguntas_elim', 'lista_preguntas', 'pregunta_') 
			});

			$('#eliminar_pregunta_form').submit(function(event){
				event.preventDefault();
				$('#modal_lista_preguntas').modal('hide');
				generic_modal_title = '&iquest;Est&aacute; seguro que desea eliminar estas preguntas?';

				generic_modal_content = '<div class="row"><div class="col-xs-6">';
				
				preg_elim = $('#preguntas_elim').val().split('|');
				for(i = 0; i < values.length; i++)
					generic_modal_content += '<p>&emsp;'+$('#id_pregunta option[value='+preg_elim[i]+']').text()+'</p>';
				
				generic_modal_content += '<div></div>';

				next_modal_ref = 'eliminar_viejas_preguntas';

				fill_generic_modal(generic_modal_title, generic_modal_content, next_modal_ref);
			});

			$(document).on("click", "#eliminar_viejas_preguntas", function(){
				value = $('#preguntas_elim').val();
				if(value){
					$.ajax({
					    type: 'POST',
					    url: '{% url "admin_eliminar_pregunta" %}',
					    dataType: "json",
					    data:{
					        'preguntas_id': value,
					        'csrfmiddlewaretoken': '{{ csrf_token }}'
					    },
					    success:function(data){
					        console.log(data);
					        reset_generic_modal();

					        preg_elim = value.split('|');
							for(i = 0; i < preg_elim.length; i++)
								$('#id_pregunta option[value='+preg_elim[i]+']').remove();

							$('#id_pregunta').trigger("chosen:updated");
					    },
					    error: function(){
					    	console.log("Error...");
					    }
				    });
				}
			});

			$('#respuesta_form').submit(function(event){
				event.preventDefault();
				$('#modal_respuesta').modal('hide');
				generic_modal_title = '&iquest;Est&aacute; seguro que desea registrar esta respuesta?';

				generic_modal_content = '<div class="row">\
											<div class="col-xs-6">\
												<laberl>Respuesta:</label>\
												<p>&emsp;'+$('#nuevo_valor').val()+'</p>\
											</div>\
										</div>';

				next_modal_ref = 'guardar_nueva_respuesta';

				fill_generic_modal(generic_modal_title, generic_modal_content, next_modal_ref);
			});

			$(document).on("click", "#guardar_nueva_respuesta", function(){
				$.ajax({
				    type: 'POST',
				    url: '{% url "admin_crear_respuesta" %}',
				    dataType: "json",
				    data:{
				        'valor': $('#nuevo_valor').val(),
				        'pregunta_id': $('#id_pregunta').val(),
				        'csrfmiddlewaretoken': '{{ csrf_token }}'
				    },
				    success:function(data){
				        console.log(data);
				        reset_generic_modal();
				        $('#id_valor').append('<option value="'+data.id_respuesta+'">'+data.valor+'</option>');
				        $('#id_valor').trigger("chosen:updated");
				    },
				    error: function(){
				    	console.log("Error...");
				    }
			    });
			});
			
			$('#eliminar_respuestas').on("click", function(){
				fill_list_elim('modal_lista_respuestas' ,'id_valor', 'valores_elim', 'lista_valores', 'valor_')
			});

			$('#eliminar_respuesta_form').submit(function(event){
				event.preventDefault();
				$('#modal_lista_respuestas').modal('hide');
				generic_modal_title = '&iquest;Est&aacute; seguro que desea eliminar estas respuestas?';

				generic_modal_content = '<div class="row"><div class="col-xs-6">';
				val_elim = $('#valores_elim').val().split('|');
				for(i = 0; i < values.length; i++)
					generic_modal_content += '<p>&emsp;'+$('#id_valor option[value='+val_elim[i]+']').text()+'</p>';

				generic_modal_content += '<div></div>';

				next_modal_ref = 'eliminar_viejas_respuestas';

				fill_generic_modal(generic_modal_title, generic_modal_content, next_modal_ref);
			});

			$(document).on("click", "#eliminar_viejas_respuestas", function(){
				value = $('#valores_elim').val();
				if(value){
					$.ajax({
					    type: 'POST',
					    url: '{% url "admin_eliminar_respuesta" %}',
					    dataType: "json",
					    data:{
					        'valores_id': value,
					        'csrfmiddlewaretoken': '{{ csrf_token }}'
					    },
					    success:function(data){
					        console.log(data);
					        reset_generic_modal();

					        val_elim = value.split('|');
							for(i = 0; i < val_elim.length; i++)
								$('#id_valor option[value='+val_elim[i]+']').remove();

							$('#id_valor').trigger("chosen:updated");
					    },
					    error: function(){
					    	console.log("Error...");
					    }
				    });
				}
			});

			$(document).on("click", ".item_elim", function(){
				id_targets = $(this).attr('target');
				id_targets = id_targets.split(' ');
				id_element = id_targets[0].split('_');

				if($('#' + id_targets[1]).val())
					new_val_elim = $('#' + id_targets[1]).val() + '|' + id_element[1];
				else
					new_val_elim = id_element[1];

				$('#' + id_targets[1]).val(new_val_elim);
				$('#' + id_targets[0]).remove();
			});
		});

		function fill_generic_modal(title, content, ref_next_modal){
			$('#title_modal_generic').html(title);
			$('#body_modal_generic').html(content);
			$('#footer_modal_generic').html('<div class="row">\
												<div class="col-xs-6">\
													<button type="button" class="btn btn-danger col-xs-12" data-dismiss="modal">Cancelar</button>\
												</div>\
												<div class="col-xs-6">\
													<button id="'+ref_next_modal+'" class="btn btn-primary col-xs-12">Guardar</button>\
												</div>\
											</div>');

			$('#modal_generic').modal('show');
		}

		function reset_generic_modal(){
			$('#title_modal_generic').empty();
			$('#body_modal_generic').empty();
			$('#footer_modal_generic').empty();
			$('#modal_generic').modal('hide');
		}

		function fill_list_elim(modal_list, id_select, id_input, id_list, str_token){
			texts = [];
			values = [];
			$('#' + id_input).val('');

			$('#' + id_select).children().each(function(i, option){
				texts.push($(option).text()); 
				values.push($(option).attr('value')); 
			});

			$('#' + id_list).empty();
			for(i = 0; i < values.length; i++){
				$('#' + id_list).append('<li id="'+str_token+values[i]+'" class="list-group-item">\
												<div align="right">\
													<p class="pull-left">'+texts[i]+'</p>\
													<a class="btn btn-danger item_elim" target="'+str_token+values[i]+' '+id_input+'" role="button">\
														<i class="fa fa-trash"></i>\
													</a>\
												</div>\
											</li>');
			}

			$('#' + modal_list).modal('show');
		}

	</script>
{% endblock %}