{% load staticfiles %}
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
      <a class="navbar-brand" href="#">Administraci&oacute;n del sistema</a>
    </div>
	<div class="container">
		<div class="collapse navbar-collapse" id="menu_admin">
			<ul class="nav navbar-nav">
				<li {% if seccion_centros %}class="active"{%endif%}><a href="{% url 'admin_centros' %}">Centros <span class="sr-only">(current)</span></a></li>
				<li {% if seccion_usuarios %}class="active"{%endif%}><a href="{% url 'admin_usuarios' %}">Usuarios</a></li>
				<li {% if seccion_peritos %}class="active"{%endif%}><a href="{% url 'admin_peritos' %}">Peritos</a></li>
				<li {% if seccion_encuestas %}class="active"{%endif%}><a href="{% url 'admin_encuestas' %}">Encuestas</a></li>
				<li {% if seccion_notificaciones %}class="active"{%endif%}><a href="{% url 'admin_notificaciones' %}">Notificaciones</a></li>
				<li {% if seccion_reportes %}class="active"{%endif%}><a href="{% url 'admin_reportes' %}">Consultas</a></li>
			</ul>
		</div> <!-- / #menu_admin -->
	</div> <!-- / .container-fluid -->
</nav>

<header class="header" style="padding-top: 70px;">
	<div class="row">
		<div class="col-xs-7 text-success">
			<h2>Bienvenido {{ usuario.get_full_name }}</h2>
		</div>
		<div class="col-xs-5 pull-right">
			<img src="{% static 'img_generic/car-icon.png' %}" class="img-rounded" style="width: 40%; margin-left:50%">
		</div>
	</div>
</header>
<br>