<!-- Modal genérica -->
<div class="modal fade" id="modal_generic" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div id="header_modal_generic" class="modal-header">
        <button id="btn_close_modal_generic" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title text-success" id="title_modal_generic"></h3>
      </div>
      <div id="body_modal_generic" class="modal-body">

      </div>
      <div id="footer_modal_generic" class="modal-footer">
        
      </div>

    </div>
  </div>
</div>