{% extends "base.html" %}

{% block main_content %}
{% include 'cuentas/modales_usuario.html' %}
{% load i18n %}
{% load l10n %}
<div class="container-fluid">
	<div class="row">
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingOne">
		      <!-- <h4 class="panel-title"> -->
		    	<div class="row">
		        <a class="btn btn-primary col-xs-2 col-xs-offset-10" data-toggle="collapse" data-parent="#accordion" href="#filtros_cont" aria-expanded="true" aria-controls="collapseOne">
		          Filtros
		        </a>
		        </div>
		     <!--  </h4> -->
		    </div> <!-- / .panel-heading -->
		    <div id="filtros_cont" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
		      <div class="panel-body">
		      <form action="{% url 'admin_reportes' %}" method="POST">
		      {% csrf_token %}
		      	<div class="row">
		      		<div class="col-xs-6">
		      			<label>Fecha de solicitud</label>
		      		</div>
		      		<div class="col-xs-6">
		      			<label>Fecha de atenci&oacute;n</label>
		      		</div>
		      	</div>
		        <div class="row">
		        	<div class="col-xs-3">
		        		<label>Desde</label>
		        		<div id="fecha_inicio_sol" class="input-append date" data-date-format="dd/mm/yyyy">
							<input type="text" class="col-xs-9" name="fecha_inicio_sol" readonly>
							<span class="input-group-addon add-on" ><i class="fa fa-calendar"></i></span>
		        		</div>
		        	</div>
		        	<div class="col-xs-3">
		        		<label>Hasta</label>
		        		<div id="fecha_fin_sol" class="input-append date" data-date-format="dd/mm/yyyy">
							<input type="text" class="col-xs-9" name="fecha_fin_sol" readonly>
							<span class="input-group-addon add-on" ><i class="fa fa-calendar"></i></span>
		        		</div>
		        	</div>
		        	<div class="col-xs-3">
		        		<label>Desde</label>
		        		<div id="fecha_inicio_aten" class="input-append date" data-date-format="dd/mm/yyyy">
							<input type="text" class="col-xs-9" name="fecha_inicio_aten" readonly>
							<span class="input-group-addon add-on" ><i class="fa fa-calendar"></i></span>
		        		</div>
		        	</div>
		        	<div class="col-xs-3">
		        		<label>Hasta</label>
		        		<div id="fecha_fin_aten" class="input-append date" data-date-format="dd/mm/yyyy">
							<input type="text" class="col-xs-9" name="fecha_fin_aten" readonly>
							<span class="input-group-addon add-on" ><i class="fa fa-calendar"></i></span>
		        		</div>
		        	</div>
		        </div> <!-- / .row -->
		        <br>
		        <div class="row">
					<div class="col-xs-3">
						<label>Estatus</label>
					</div>
					<div class="col-xs-3">
						<label>Estado</label>
					</div>
					<div class="col-xs-3">
						<label>Municipio</label>
					</div>
					<div class="col-xs-3">
						<label>Centro</label>
					</div>
		        </div> <!-- / .row -->
		        <div class="row">
		        	<div class="col-xs-3">
		        		<select id="id_estatus" name="estatus" class="form-control">
							<option value="">--Seleccionar--</option>
		        		</select>
		        	</div>
		        	<div class="col-xs-3">
		        		<select id="id_estado" name="estado" class="form-control">
							<option value="">--Seleccionar--</option>
							{% for e in estados %}
							<option value="{{e.pk}}">{{e.nombre}}</option>
							{% endfor %}
		        		</select>
		        	</div>
		        	<div class="col-xs-3">
		        		<select id="id_municipio" name="municipio" class="form-control">
							<option value="">--Seleccionar--</option>
		        		</select>
		        	</div>
		        	<div class="col-xs-3">
		        		<select id="id_centro" name="centro" class="form-control">
							<option value="">--Seleccionar--</option>
		        		</select>
		        	</div>
		        </div> <!-- / .row -->
		        <br>
		        <div class="row">
		        	<div class="col-xs-2 col-xs-offset-10">
		        		<button type="submit" class="btn btn-primary col-xs-12">Buscar</button>
		        	</div>
		        </div> <!-- / .row -->
		        </form>
		      </div> <!-- / .panel-body -->
		    </div> <!-- / .panel-collapse -->
		  </div> <!-- / .panel -->
		</div> <!-- / .panel-group -->
	</div> <!-- / .row -->
	<br>

	<div class="row">
		<table class="table">
			<thead>
				<tr>
					<th>Fecha solicitud</th>
					<th>Fecha de atenci&oacute;n</th>
					<th>Usuario</th>
					<th>Estatus</th>
					<th>Centro</th>
				</tr>
			</thead>
			<tbody>
				{% for orden in numeros_orden.object_list %}
				<tr>
					<td>{{orden.solicitud_inspeccion.fecha_creacion|date:"d/m/Y"}}</td>
					<td>{{orden.fecha_atencion}}</td>
					<td>{{orden.solicitud_inspeccion.usuario.nombres}} {{orden.solicitud_inspeccion.usuario.apellidos}}</td>
					<td>{{orden.solicitud_inspeccion.estatus}}</td>
					<td>{{orden.solicitud_inspeccion.centro_inspeccion}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="pagination center-block text-center">
		<div class="row">
			<ul class="pagination">
			{% if numeros_orden.has_previous %}
		        <li>
		        	<a href="?{{ numeros_orden.previous_page_number.querystring }}" class="prev">&lsaquo;&lsaquo; {% trans "anterior" %}</a>
		        </li>
		    {% else %}
		    	<li class="disabled">
					<span class="disabled prev">&lsaquo;&lsaquo; {% trans "anterior" %}</span>
				</li>
			{% endif %}
			{% for page in numeros_orden.pages %}
		        {% if page %}
		            {% ifequal page numeros_orden.number %}
		                <li><span class="current page">{{ page }}</span></li>
		            {% else %}
		                <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
		            {% endifequal %}
		        {% else %}
		            <li class="disabled"><a>...</a></li>
		        {% endif %}
		    {% endfor %}
		    {% if numeros_orden.has_next %}
		        <li>
		        	<a href="?{{ numeros_orden.next_page_number.querystring }}" class="next">{% trans "siguiente" %} &rsaquo;&rsaquo;</a>
		        </li>
		    {% else %}
		    	<li class="disabled">
		        	<span class="disabled next">{% trans "next" %} &rsaquo;&rsaquo;</span>
		        </li>
		    {% endif %}
		    </ul>
		</div>
	</div>
</div> <!-- / .container-fluid -->
{% endblock %}

{% block javascripts %}
	{{ block.super }}

	<script type="application/javascript">
	$(function(){
		/********* INICIALIZACION DE LAS FECHAS DE LOS DATEPICKERS *********/
		var fecha = new Date();
		var fi = new Date(fecha.getFullYear(), fecha.getMonth(), 1);
		var ff = new Date(fecha.getFullYear(), fecha.getMonth() + 1, 0);

		$('#fecha_inicio_sol').datepicker('setDate', fi);
		$('#fecha_fin_sol').datepicker('setDate', ff);
		$('#fecha_inicio_aten').datepicker('setDate', fi);
		$('#fecha_fin_aten').datepicker('setDate', ff);
		/********* FIN ***********/

		/********** CARGA DE MUNICIPIOS POR ESTADO CON CENTROS *************/
		$(document).on('change', '#id_estado', function(){
			value = $(this).val();
			
			if(value.length > 0){
				// LLamada AJAX para obtener los municipios
				$.ajax({
					method: 'GET',
					url: '/sgt/obtener-municipios/'+value,
					data:{
						'con_centro': true
					},
					dataType: "json"
				})
				.done(function(data){
					if(!data.hasOwnProperty('error_msg')){
						// Se reinicia el Select de municipios
						$('#id_municipio').html('<option value="">--Seleccionar--</option>');
						
						$.each(data, function(key, value){
							$('#id_municipio').append('<option value="'+value.pk+'">'+value.fields.nombre+'</option>');
						});
					}
					else{
						console.lg('Error');
					}
				});
			}
			else{
				$('#id_municipio').html('<option value="">--Seleccionar--</option>');
			}
		});
		/********** FIN *************/

		/********** CARGA DE MUNICIPIOS POR ESTADO CON CENTROS *************/
		$(document).on('change', '#id_municipio', function(){
			data_object = {}

			data_object['municipio_id'] = $('#id_municipio').val();

			if(data_object['municipio_id'].length){
				// Llamada AJAX para obtener los centros de inspección
				$.ajax({
					method: 'GET',
					url: '/sgt/obtener-centros',
					data: data_object,
					dataType: "json"
				})
				.done(function(data){
					if(!data.hasOwnProperty('error_msg')){
						// Se reinicia los centros de inspeccion
						$('#id_centro').html('<option value="">--Seleccionar--</option>');
						
						$.each(data, function(key, value){
							$('#id_centro').append('<option value="'+value.pk+'">'+value.nombre+'</option>');
						});
					}
					else{
						console.lg('Error');
					}
				});
			}
			else{
				$('#id_centro').html('<option value="">--Seleccionar--</option>');
			}
		});
		/********** FIN *************/

	})
	</script>
{% endblock %}