
<!-- Modales para los formularios de la interfaz de usuario -->

<!-- Formulario de Reclamo -->
<div class="modal fade" id="Reclamo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title text-success" id="myModalLabel">Reclamo</h3>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Enviar</button>
      </div>
    </div>
  </div>
</div>

<!-- Formulario de Solicitud -->
<div class="modal fade" id="Solicitud" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title text-success" id="myModalLabel">Crear Solicitud</h3>
      </div>

      <div class="form-box">
        <!-- <form action="" method="post" data-toggle="validator">
          <div class="modal-body">

            <div class="row">
              <div class="col-xs-6">
                <div class="form-group">
                  <label class="text-muted">Tipo de solicitud:</label>
                  {{form.tipo_solicitud}}
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="form-group">
                  <label for="id_fecha_nacimiento" class="text-muted">Fecha de asistencia:</label>
                  <div class="input-append date">
                    {{form.fecha_asistencia}}
                    <span class="input-group-addon add-on" ><i class="fa fa-calendar"></i></span>
                  </div>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-6">
                <div class="form-group">
                  <label class="text-muted">Estado:</label>
                  {{form.estado}}
                </div>
              </div>
              <div class="col-xs-6">
                <div class="form-group">
                  <label class="text-muted">Centro de inspecci&oacute;n:</label>
                  <select id="id_centro" name="centro_inspeccion" class="form-control" required="" data-error="Este campo es obligatorio">
                    <option value="">---------</option>

                  </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-6">
                <div class="form-group">
                  <label class="text-muted">Municipio:</label>
                  <select id="select_solicitud_municipio" name="municipio" class="form-control" required="" data-error="Este campo es obligatorio">
                    <option value="">---------</option>
                    {% for m in municipios %}
                    <option value="{{m.pk}}" {% ifequal m.pk mun_sel %}selected{% endifequal %}>{{m.nombre}}</option>
                    {% endfor %}
                  </select> 
                </div>
              </div>
              <div class="col-xs-6">
                <div class="form-group">
                  <label class="text-muted">Direcci&oacute;n:</label>
                  <textarea class="form-control" readonly=""></textarea>
                </div>
              </div>
            </div>
            

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
        </form> -->
      </div>

    </div>
  </div>
</div>

<!-- Formulario de Busqueda -->
<div class="modal fade" id="Buscar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title text-success" id="myModalLabel">B&uacute;squeda</h3>
      </div>
      <div class="modal-body">
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Filtrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Vista Previa Ticket -->
<div class="modal fade" id="Ticket" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title text-success" id="myModalLabel">B&uacute;squeda</h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-6" id="t_nombre_centro"></div>
          <div class="col-xs-6" id="t_fecha_asistencia"></div>
        </div>
        <div class="row">
          <div class="col-xs-6" id="t_estado_centro"></div>
          <div class="col-xs-6" id="t_municipio_centro"></div>
        </div>
        <div class="row">
          <div class="col-xs-6" id="t_numero_orden"></div>
          <div class="col-xs-6" id="t_hora_asistencia"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Filtrar</button>
      </div>
    </div>
  </div>
</div>

