
<!-- Modales para los formularios de la interfaz de usuario -->

<!-- Formulario de Reclamo -->
<div class="modal fade" id="Reclamo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title text-success" id="myModalLabel">Reclamo</h3>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Enviar</button>
      </div>
    </div>
  </div>
</div>

<!-- Formulario de Solicitud -->
<div class="modal fade" id="Solicitud" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title text-success" id="myModalLabel">Crear Solicitud</h3>
      </div>

      <div class="form-box">
        <form action="" method="post" data-toggle="validator">
          <div class="modal-body">

            <div class="row">
              <div class="col-xs-6">
                <div class="form-group">
                  <label class="text-muted">Tipo de solicitud:</label>
                  <select id="id_tipo_solicitud" name="tipo_solicitud" class="form-control">
                    <option value="">---------</option>
                    {% for ts in tipo_solicitudes %}
                    <option value="{{ts.pk}}">{{ts.nombre}}</option>
                    {% endfor %}
                  </select> 
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="form-group">
                  <label for="id_fecha_nacimiento" class="text-muted">Fecha de asistencia:</label>
                  <div class="input-append date">
                    {{form.fecha_asistencia}}
                    <span class="input-group-addon add-on" ><i class="fa fa-calendar"></i></span>
                  </div>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
            </div>
            

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<!-- Formulario de Busqueda -->
<div class="modal fade" id="Buscar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title text-success" id="myModalLabel">B&uacute;squeda</h3>
      </div>
      <div class="modal-body">
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Filtrar</button>
      </div>
    </div>
  </div>
</div>
