
<!-- Modales para los formularios de la interfaz de usuario -->

<!-- Formulario de Reclamo -->
<div class="modal fade" id="reclamo_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title text-success" id="myModalLabel">Reclamo</h3>
      </div>
      <div class="modal-body">
        <form id="reclamo_form" action="" method="POST">
          <div class="row">
            <div class="col-xs-12">
              <label>Por favor, indique el motivo de su reclamo</label>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <input type="text" name="motivo" class="form-control">
              <span id="motivo_error" class="text-danger"></span>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-xs-12">
              <label>Observaciones</label>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <textarea name="observaciones" class="form-control"></textarea>
              <span id="observaciones_error" class="text-danger"></span>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="col-xs-6">
          <a href="#" class="btn btn-danger btn-block" data-dismiss="modal">Cancelar</a>
        </div>
        <div class="col-xs-6">
          <a href="#" id="enviar_reclamo" class="btn btn-primary btn-block">Enviar</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Formulario de Solicitud -->
<div class="modal fade" id="Solicitud" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title text-success" id="myModalLabel">Crear Solicitud</h3>
      </div>

      <div class="form-box">
        <!-- <form action="" method="post" data-toggle="validator">
          <div class="modal-body">

            <div class="row">
              <div class="col-xs-6">
                <div class="form-group">
                  <label class="text-muted">Tipo de solicitud:</label>
                  {{form.tipo_solicitud}}
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="form-group">
                  <label for="id_fecha_nacimiento" class="text-muted">Fecha de asistencia:</label>
                  <div class="input-append date">
                    {{form.fecha_asistencia}}
                    <span class="input-group-addon add-on" ><i class="fa fa-calendar"></i></span>
                  </div>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-6">
                <div class="form-group">
                  <label class="text-muted">Estado:</label>
                  {{form.estado}}
                </div>
              </div>
              <div class="col-xs-6">
                <div class="form-group">
                  <label class="text-muted">Centro de inspecci&oacute;n:</label>
                  <select id="id_centro" name="centro_inspeccion" class="form-control" required="" data-error="Este campo es obligatorio">
                    <option value="">---------</option>

                  </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-6">
                <div class="form-group">
                  <label class="text-muted">Municipio:</label>
                  <select id="select_solicitud_municipio" name="municipio" class="form-control" required="" data-error="Este campo es obligatorio">
                    <option value="">---------</option>
                    {% for m in municipios %}
                    <option value="{{m.pk}}" {% ifequal m.pk mun_sel %}selected{% endifequal %}>{{m.nombre}}</option>
                    {% endfor %}
                  </select> 
                </div>
              </div>
              <div class="col-xs-6">
                <div class="form-group">
                  <label class="text-muted">Direcci&oacute;n:</label>
                  <textarea class="form-control" readonly=""></textarea>
                </div>
              </div>
            </div>
            

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
        </form> -->
      </div>

    </div>
  </div>
</div>

<!-- Formulario de Busqueda -->
<div class="modal fade" id="Buscar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title text-success" id="myModalLabel">B&uacute;squeda</h3>
      </div>
      <div class="modal-body">
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Filtrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Vista Previa Ticket -->
<div class="modal fade" id="Ticket" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title text-success" id="myModalLabel">B&uacute;squeda</h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-6">
            <label>Centro de inspecci&oacute;n:</label>
          </div>
          <div class="col-xs-6">
            <label>Fecha de asistencia:</label>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6"><div class="col-xs-12" id="t_nombre_centro"></div></div>
          <div class="col-xs-6"><div class="col-xs-12" id="t_fecha_asistencia"></div></div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <label>Estado:</label>
          </div>
          <div class="col-xs-6">
            <label>Municipio:</label>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6"><div class="col-xs-6" id="t_estado_centro"></div></div>
          <div class="col-xs-6"><div class="col-xs-6" id="t_municipio_centro"></div></div>
        </div>
        <div class="row">
          <!-- <div class="col-xs-6">
            <label>N&uacute;mero de orden:</label>
          </div> -->
          <div class="col-xs-6">
            <label>Hora aproximada de asistencia:</label>
          </div>
        </div>
        <div class="row">
          <!-- <div class="col-xs-6"><div class="col-xs-12" id="t_numero_orden"></div></div> -->
          <div class="col-xs-6"><div class="col-xs-12" id="t_hora_asistencia"></div></div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-xs-4 col-xs-offset-2">
          <button type="button" class="btn btn-danger col-xs-12" data-dismiss="modal">Cancelar</button>
        </div>
        <div class="col-xs-4">
          <a href="#" id="generar_ticket" type="button" class="btn btn-primary col-xs-12">Generar ticket</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal genérica -->
<div class="modal fade" id="modal_generic" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div id="header_modal_generic" class="modal-header">
        <button id="btn_close_modal_generic" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title text-success" id="title_modal_generic"></h3>
      </div>
      <div id="body_modal_generic" class="modal-body">

      </div>
      <div id="footer_modal_generic" class="modal-footer">
        
      </div>

    </div>
  </div>
</div>