{% extends "base.html" %}

{% block main_content %}
{% include 'cuentas/modales_usuario.html' %}
{% csrf_token %}
<header class="header" style="margin-top: 3%; margin-bottom: 2%;">
	<div class="row">
		<div class="col-xs-7 text-success">
			<h1>Bienvenido {{ usuario.get_full_name }}</h1>
		</div>
		<div class="col-xs-5 pull-right">
			<img src="../../static/img_generic/car-icon.png" class="img-rounded" style="width: 40%; margin-left:50%">
		</div>
	</div>
</header>

<div class="container-fluid">
	<div role="tabpanel">
		<ul class="nav nav-tabs nav-justified">
			<li role="presentation" class="active"><a href="#Perfil" role="tab" data-toggle="tab">Ver Perfil</a></li>
			<li role="presentation"><a href="#Solicitudes" role="tab" data-toggle="tab">Solicitudes</a></li>
			<li role="presentation"><a href="#Notificaciones" role="tab" data-toggle="tab">Notificaciones</a></li>
			<li role="presentation">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#Opciones" role="button" aria-expanded="false">Opciones<span class="caret"></span></a>
			    <ul class="dropdown-menu" role="menu">
					<li><a href="#">Opci&oacute;n1</a></li>
		            <li><a href="#">Opci&oacute;n2</a></li>
		            <li><a href="#">Opci&oacute;n3</a></li>
		            <li class="divider"></li>
		            <li><a href="#">Opci&oacute;n4</a></li>
		            <li class="divider"></li>
		            <li><a href="{% url 'cuentas_logout' %}">Salir</a></li>
			    </ul>
			</li>
		</ul>

		<div class="tab-content" style="margin-top: 3%;">
		    <div role="tabpanel" class="tab-pane active" id="Perfil">
		    	<div class="row">
					<div class="col-xs-5 col-xs-offset-1">
						<h3 class="text-success">Informaci&oacute;n del usuario</h3>
						<br>
						<p>Nombre: {{ usuario.nombres }}</p>
						<p>Apellido: {{ usuario.apellidos }}</p>
						<p>C&eacute;dula: {{ usuario.cedula }}</p>
						<p>Estado: {{ usuario.municipio.estado }}</p>
						<p>Municipio: {{ usuario.municipio }}</p>
						<p>Dirección: {{ usuario.direccion }}</p>
						<p>Correo: {{ usuario.correo }}</p>		
					</div>
					<div class="col-xs-1">
						<div style="border-left:1px solid #000;height:500px"></div>
					</div>
					<div class="col-xs-5">
						{% if poliza %}
							<h3 class="text-success">P&oacute;liza asociada</h3>
							<br>
							<p>N&uacute;mero: "N&uacute;mero P&oacute;liza"</p>
							<p>Fecha Vencimiento: "dd/mm/aaaa"</p>
							<p>Tipo de P&oacute;liza: "Tipo X"</p>
							<p>Descripci&oacute;n: "Descripci&oacute;n P&oacute;liza"</p>
						{% else %}
							<h3 class="text-success">El usuario no posee póliza asociada</h3>
						{% endif %}
					</div>  
		    	</div>
		    </div>

		    <div role="tabpanel" class="tab-pane" id="Solicitudes">

		    	<div class="row">
					<div class="col-xs-3 col-xs-offset-1">
		    			<h3 class="text-success">Solicitudes Enviadas</h3>
		    		</div>
		    		<div class="col-xs-5 col-xs-offset-3">
		    			<br>
						<a class="btn btn-danger" data-toggle="modal" data-target="#Reclamo">Presentar Reclamo</a>
						<a class="btn btn-primary" id="crear_solicitud">Crear Solicitud</a>
						<a class="btn btn-success" data-toggle="modal" data-target="#Buscar">Buscar</a>
		    		</div>
		    	</div>
		    	<div id="contenedor_solicitudes">
			    	<div class="row">
			    		<br>
						<div class="col-xs-10 col-xs-offset-1">
							{% if solicitudes %}
			    			<table class="table table-bordered">
			    				<thead>
									<tr>
									 	<th style="width:30%">Tipo Solicitud</th>
										<th style="width:20%">N&uacute;mero de Orden</th>
										<th style="width:30%">Estado</th>
										<th style="width:20%">Opciones</th>
									</tr>
								</thead>
								<tbody id="solicitudes_table_body">
									{% for s in solicitudes %}
									<tr>
										<td>{{s.tipo_inspeccion}}</td>
										<td>{{s.numero_orden.codigo}}</td>
										<td>{{s.estatus}}</td>
										<td>...</td>
									</tr>
									
									{% endfor %}
								</tbody>
							</table>
							{% else %}
							<h4>No hay solicitudes</h4>
							{% endif %}
			    		</div>
			    	</div>
		    	</div>

				<div id="contenedor_crear_solicitud" style="display:none">
					<div id="spinner_form">
						{% load staticfiles %}
						<center>
					    	<img src="{% static "img/ajax-loader.gif" %}" alt="Cargando Formulario..."/>
					    </center>
					</div>
					<div id="contenido" class="row"></div>
				</div>

		    </div>

		    <div role="tabpanel" class="tab-pane" id="Notificaciones">
		    	<div class="row">
					<div class="col-xs-5 col-xs-offset-1">
		    			<h3 class="text-success">Notificaciones Recibidas</h3>
		    		</div>
		    		<div class="col-xs-2 col-xs-offset-4">
		    			<br>
						<a class="btn btn-success" data-toggle="modal" data-target="#Buscar">Buscar</a>
		    		</div>
		    	</div>
		    	<div class="row">
		    		<br>
					<div class="col-xs-10 col-xs-offset-1">
		    			<table class="table table-bordered">
							<tr>
							 	<th style="width:30%">Tipo Solicitud</th>
								<th style="width:20%">N&uacute;mero de Orden</th>
								<th style="width:30%">Estado</th>
								<th style="width:20%">Opciones</th>
							</tr>
							<tr>
								<td>Suscripci&oacute;n</td>
								<td>SSI-1234</td>
								<td>Realizada</td>
								<td>...</td>
							</tr>
							<tr>
								<td>Reclamo</td>
								<td>SRI-4567</td>
								<td>En proceso</td>
								<td>...</td>
							</tr>
							<tr>
								<td>Reinspecci&oacute;n</td>
								<td>SRII-3216</td>
								<td>No procesada</td>
								<td>...</td>
							</tr>
						</table>
		    		</div>
		    	</div>
		    </div>
	  	</div>
	 </div>
</div>

{% endblock %}

{% block javascripts %}
	{{ block.super }}

	<script type="application/javascript">

		$(function(){
			/********** PARA CARGAR LA INTERFAZ DE LA CREACIÓN DE SOLICITUD *************/
			$(document).on('click', '#crear_solicitud', function(){
				$('#contenedor_solicitudes').hide();
				$('#contenedor_crear_solicitud').show();
				$.ajax({
					method: 'GET',
					url: '{% url "crear_solicitud" %}',
					data:{
						'estado': {{usuario.municipio.estado.id}}
					},
					dataType: 'html',
					complete: function(){
					  $('#spinner_form').hide();
					  $('#crear_solicitud').html('Ver Solicitudes');
					  $('#crear_solicitud').attr('id','ver_solicitudes');
					}
				})
				.done(function(data){
					$('#contenido').html(data);
					$('#fecha_asistencia').datepicker({
					  autoclose: true,
					  clearBtn: true,
					  language: "es",
					  startView: 1,
					  daysOfWeekDisabled: [0,6],
					  datesDisabled:['08/07/2015']
					});
					$('#crear_solicitud_form').validator();
				})

			});
			/********** END *************/

			$(document).on('click', '#ver_solicitudes', function(){
				$('#contenedor_solicitudes').show();
				$('#contenedor_crear_solicitud').hide();
				$('#ver_solicitudes').html('Crear Solicitud');
				$('#ver_solicitudes').attr('id','crear_solicitud');
			});

			function cargar_centros(filtro, valor){
				data_object = {}

				if(filtro==='municipio'){
					data_object['municipio_id'] = valor;
				}
				else if(filtro==='estado'){
					data_object['estado_id'] = valor;
				}

				// Llamada AJAX para obtener los centros de inspección
				$.ajax({
					method: 'GET',
					url: '/sgt/obtener-centros',
					data: data_object,
					dataType: "json"
				})
				.done(function(data){
					if(!data.hasOwnProperty('error_msg')){
						// Se reinicia los centros de inspeccion
						$('#tabla_centros_insp > tbody').html('');
						$.each(data, function(key, value){
							$('#tabla_centros_insp > tbody').append('<tr id="'+value.pk+'">\
								<td>'+value.nombre+'</td>\
								<td>'+value.direccion+'</td>\
								<td>'+value.disponibilidad+'\
									<span class="label label-'+value.etiqueta_clase+'">'+value.etiqueta+'</span>\
								</td>\
								<td><input name="centro_inspeccion" value="'+value.pk+'" type="radio" required="" data-error="Este campo es obligatorio"></td>\
								</tr>');
						});
					}
					else{
						console.lg('Error');
					}
				});
			}

			/********** PARA CARGAR LOS MUNICIPIOS POR ESTADO EN EL FORMULARIO DE CREACION DE SOLICITUD *************/
			$(document).on('change', '#select_solicitud_estado', function(){
				value = $(this).val();
				
				if(value.length > 0){
					// LLamada AJAX para obtener los municipios
					$.ajax({
						method: 'GET',
						url: '/sgt/obtener-municipios/'+value,
						data:{
							'con_centro': true
						},
						dataType: "json"
					})
					.done(function(data){
						if(!data.hasOwnProperty('error_msg')){
							// Se reinicia el Select de municipios
							$('#select_solicitud_municipio').html('<option value="">---------</option>');
							
							$.each(data, function(key, value){
								$('#select_solicitud_municipio').append('<option value="'+value.pk+'">'+value.fields.nombre+'</option>');
							});
						}
						else{
							console.lg('Error');
						}
					});
					// Llamada a la función para obtener los centros por estado
					cargar_centros('estado', value);
				}
			});
			/********** END *************/

			/********** PARA CARGAR LOS CENTROS DE INSPECCION POR MUNICIPIO EN EL FORMULARIO DE CREACION DE SOLICITUD *************/
			//$('#select_solicitud_municipio').change(function(){
			$(document).on('change', '#select_solicitud_municipio', function(){
				value = $(this).val();
				if(value.length > 0){
					// Llamada a la función para obtener los centros por estado
					cargar_centros('municipio', value);
				}
			});
			
			/********** CARGAR MODAL DE CONFIRMACION DE TICKET *************/
			$(document).on('click', '#mostrar_ticket', function(event){
				event.preventDefault();

				tipo_solicitud = $('#id_tipo_solicitud').val();
				fecha_asistencia = $('#id_fecha_asistencia').val();
				value = $('input[name="centro_inspeccion"]:checked');

				if(value.length > 0 && tipo_solicitud.length > 0 && fecha_asistencia.length > 0){
					value = value.val();
					// Llamada AJAX para obtener los centros de inspección
					$.ajax({
						method: 'GET',
						url: '/sgt/obtener-numero/'+value,
						dataType: 'json',
						data:{
							fecha_asistencia: fecha_asistencia
						}
					})
					.done(function(data){
						if(!data.hasOwnProperty('error_msg')){
							$('#t_nombre_centro').html('<p>'+data[0].nombre+'</p>');
							$('#t_fecha_asistencia').html('<p>'+fecha_asistencia+'</p>');
							$('#t_estado_centro').html('<p>'+data[0].estado+'</p>');
							$('#t_municipio_centro').html('<p>'+data[0].municipio+'</p>');
							//$('#t_numero_orden').html('<p>'++'</p>');
							$('#t_hora_asistencia').html('<select id="hora_asistencia_ticket" class="form-control" name="hora_asistencia"></select>');
							$.each(data[0].horarios, function(key,val){
								$('#t_hora_asistencia>select').append(
									'<option value="'+val.value+'">'+val.text+'</option>');
							});
							$('#Ticket').modal('show'); 
						}
						else{
							console.lg('Error');
						}
					});
				}
			});
			/********** END *************/

			/********* MOSTRAR MODAL DE CONFIRMACIÓN PARA GENERAR TICKET **********/
			$(document).on('click','#generar_ticket', function(){
				centro_id = $('input[name="centro_inspeccion"]:checked').val();
				centro = $('#centro_'+centro_id).text();
				fecha = $('#id_fecha_asistencia').val();
				hora = $('#hora_asistencia_ticket option:selected').text();

				$('#btn_close_modal_generic').remove();
				$('#title_modal_generic').html('Confirmación');
				$('#body_modal_generic').html(
					'<div class="row">\
						<div class="col-xs-12"><h4>¿Está seguro que desea generar el siguiente ticket?</h4></div>\
					</div><br>\
					<div class="row">\
						<div class="col-xs-12">\
							<div class="col-xs-4">'+centro+'</div>\
							<div class="col-xs-4">'+fecha+'</div>\
							<div class="col-xs-4">'+hora+'</div>\
						</div>\
					</div><br>'
				);
				$('#footer_modal_generic').html(
					'<div class="col-xs-3 col-xs-offset-3">\
						<a id="cancelar_ticket" href="#" class="btn btn-danger col-xs-12">Cancelar</a>\
					</div>\
					<div class="col-xs-3">\
						<a id="confirmar_ticket" href="#" class="btn btn-primary col-xs-12">Aceptar</a>\
					</div>'
				);
				$('#Ticket').modal('hide');
				$('#modal_generic').modal({
					backdrop: 'static',
					keyboard: false
				});
			});

			$(document).on('click','#cancelar_ticket',function(){
				$('#modal_generic').modal('hide');
				$('#Ticket').modal('show');
			});
			/********* END **********/

			/********** CREAR TICKET *************/
			$(document).on('click','#confirmar_ticket',function(){
				centro = $('input[name="centro_inspeccion"]:checked').val();
				fecha = $('#id_fecha_asistencia').val();
				hora = $('#hora_asistencia_ticket').val();
				tipo_solicitud = $('#id_tipo_solicitud').val();

				// Llamada AJAX para generar el ticket
				$.ajax({
					method:'POST',
					url:'{% url "crear_solicitud" %}',
					dataType:'json',
					data:{
						centro: centro,
						fecha_asistencia: fecha,
						hora_asistencia: hora,
						tipo_inspeccion: tipo_solicitud,
						csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value
					}
				})
				.done(function(data){
					if(data.resultado == 0){
						$('#solicitudes_table_body').prepend(
							'<tr>\
								<td>'+data.solicitud.tipo_solicitud+'</td>\
								<td>'+data.solicitud.numero_orden+'</td>\
								<td>'+data.solicitud.estatus+'</td>\
								<td>...</td>\
							</tr>'
						);
						$('#contenedor_crear_solicitud').hide();
						$('#contenedor_solicitudes').show();
						$('#ver_solicitudes').html('Crear Solicitud');
						$('#ver_solicitudes').attr('id','crear_solicitud');

						$('#modal_generic').modal('hide');
					}
				})
				.fail(function(){
					console.log('error');
				});
			});
			/********** END *************/

		});

	</script>

{% endblock %}