{% extends "base.html" %}

{% block main_content %}
{% include 'cuentas/modales_usuario.html' %}
{% csrf_token %}
<header class="header" style="margin-top: 3%; margin-bottom: 2%;">
	<div class="row">
		<div class="col-xs-7 text-success">
			<h1>Bienvenido {{ usuario.get_full_name }}</h1>
		</div>
		<div class="col-xs-5 pull-right">
			<img src="../../static/img_generic/car-icon.png" class="img-rounded" style="width: 40%; margin-left:50%">
		</div>
	</div>
</header>

<div class="container-fluid">
	{% if mensaje_info %}
	<div class="row">
		<div id="contenedor_mensaje_info" class="col-xs-12">
			<div class="alert alert-success alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				{{mensaje_info}}
			</div>
		</div>
	</div>
	{% endif %}
	<div role="tabpanel">
		<ul class="nav nav-tabs nav-justified">
			<li role="presentation" class="active"><a href="#Perfil" role="tab" data-toggle="tab">Ver Perfil</a></li>
			<li role="presentation"><a href="#Solicitudes" role="tab" data-toggle="tab">Solicitudes</a></li>
			<li role="presentation"><a href="#Notificaciones" role="tab" data-toggle="tab">Notificaciones</a></li>
			<li role="presentation">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#Opciones" role="button" aria-expanded="false">Opciones<span class="caret"></span></a>
			    <ul class="dropdown-menu" role="menu">
		            <li><a href="{% url 'cuentas_logout' %}">Salir</a></li>
			    </ul>
			</li>
		</ul>

		<div class="tab-content" style="margin-top: 3%;">
		    <div role="tabpanel" class="tab-pane active" id="Perfil">
		    	<div id="contenedor_ver_perfil">
		    	<div class="row">
					<div class="col-xs-5 col-xs-offset-1">
						<div class="col-xs-12">
							<h3 class="text-success">Informaci&oacute;n del usuario</h3>
						</div>
						
						<br>
						<div class="col-xs-12">
							<p>Nombre: {{ usuario.nombres }}</p>
							<p>Apellido: {{ usuario.apellidos }}</p>
							<p>C&eacute;dula: {{ usuario.cedula }}</p>
							<p>Estado: {{ usuario.municipio.estado }}</p>
							<p>Municipio: {{ usuario.municipio }}</p>
							<p>Dirección: {{ usuario.direccion }}</p>
							<p>Correo: {{ usuario.correo }}</p>	
						</div>
						<div class="col-xs-4">
							<h3>
							<a  id="mostrar_editar_perfil" href="#" class="btn btn-primary">Editar</a>
							</h3>
						</div>	
					</div>
					<div class="col-xs-1">
						<div style="border-left:1px solid #000;height:500px"></div>
					</div>
					<div class="col-xs-5">
						{% if poliza %}
							<h3 class="text-success">P&oacute;liza asociada</h3>
							<p>N&uacute;mero: {{poliza.numero}}</p>
							<p>Fecha de inicio vigencia: {{poliza.fecha_inicio_vigencia}}</p>
							<p>Fecha de fin vigencia: {{poliza.fecha_fin_vigencia}}</p>
							<p>Estatus: Vigente</p>
						{% else %}
							<h3 class="text-success">El usuario no posee póliza asociada</h3>
						{% endif %}
					</div>  
		    	</div> <!-- / .row -->
		    	</div> <!-- / #contenedor_ver_perfil -->
		    	<div id="contenedor_editar_perfil" style="display:none">
		    		<div class="row">
					<div class="col-xs-12">
						<div class="row">
						<form id="editar_perfil_form" action="" method="POST">
							<div class="col-xs-6">
								<div class="form-group">
									<label class="text-muted">Nombres:</label>
									{{form_cuenta.nombres}}
									<div id="error_nombres" class="text-danger editar-error"></div>
								</div>
								<div class="form-group">
									<label class="text-muted">Apellidos:</label>
									{{form_cuenta.apellidos}}
									<div id="error_apellidos" class="text-danger editar-error"></div>
								</div>
								<div class="form-group">
									<label class="text-muted">C&eacute;dula:</label>
									{{form_cuenta.cedula}}
									<div id="error_cedula" class="text-danger editar-error"></div>
								</div>
								<div class="form-group">
									<label class="text-muted">Estado:{{u.estado_id}}</label>
									<select id="id_estado" class="form-control" name="estado">
										<option value="">--Seleccionar--</option>
										{% for e in estados_cuenta %}
										<option {% ifequal e.pk u_estado_id %}selected{%endifequal%} value="{{e.pk}}">{{e.nombre}}</option>
										{% endfor %}
									</select>
									<div id="error_estado" class="text-danger editar-error"></div>
								</div>
								<div class="form-group">
									<label class="text-muted">Municipio:</label>
									<select id="id_municipio" name="municipio" class="form-control">
										<option value="">--Seleccionar--</option>
										{% for m in u_municipios %}
										<option value="{{m.pk}}" {% ifequal m.pk u_municipio_id %}selected{% endifequal %}>{{m.nombre}}</option>
										{% endfor %}
									</select> 
									<div id="error_municipio" class="text-danger editar-error"></div>
								</div>
								<div class="form-group">
									<label class="text-muted">Direcci&oacute;n:</label>
									{{form_cuenta.direccion}}
									<div id="error_direccion" class="text-danger editar-error"></div>
								</div>
							</div> <!-- /.col-xs-6 -->
							<div class="col-xs-6">
								<div class="form-group">
									<label class="text-muted">C&oacute;digo Postal:</label>
									{{form_cuenta.codigo_postal}}
									<div id="error_codigo_postal" class="text-danger editar-error"></div>
								</div>
								<div class="form-group">
									<label for="id_telefono_local" class="text-muted">Tel&eacute;fono local:</label>
									{{form_cuenta.telefono_local}}
									<div id="error_telefono_local" class="text-danger editar-error"></div>
								</div>
								<div class="form-group">
									<label for="id_telefono_local" class="text-muted">Tel&eacute;fono m&oacute;vil:</label>
									{{form_cuenta.telefono_movil}}
									<div id="error_telefono_movil" class="text-danger editar-error"></div>
								</div>
								<div class="form-group">
									<label for="exampleInputEmail1" class="text-muted">Correo:</label>
									{{form_cuenta.correo}}
									<div id="error_correo" class="text-danger editar-error"></div>
								</div>
								<div class="form-group">
									<div class="form-group">
										<label class="text-muted">Sexo:</label>
									</div>
									<label for="id_sexo_0" class="text-muted radio-inline">
										<input {%if form_cuenta.sexo.value == 0 or form_cuenta.sexo.value == "0"%}checked{%endif%} type="radio" id="id_sexo_0" name="sexo" value="0" data-error="Este campo es obligatorio" required=""> Masculino
									</label>
									<label for="id_sexo_1" class="text-muted radio-inline">
										<input {%if form_cuenta.sexo.value == 1 or form_cuenta.sexo.value == "1"%}checked{%endif%} type="radio" id="id_sexo_1" name="sexo" value="1" data-error="Este campo es obligatorio"> Femenino
									</label>
									<div id="error_sexo" class="text-danger editar-error"></div>
								</div>
								<div class="form-group">
									<label for="id_fecha_nacimiento" class="text-muted">Fecha de nacimiento:</label>
									<div class="input-append date" data-date-format="dd/mm/yyyy">
										{{form_cuenta.fecha_nacimiento}}
										<span class="input-group-addon add-on" ><i class="fa fa-calendar"></i></span>
									</div>
									<div id="error_fecha_nacimiento" class="text-danger editar-error"></div>
								</div>
								<div class="form-group">
									<label for="exampleInputPassword1" class="text-muted">Contrase&ntilde;a:</label>
									{{form_cuenta.password}}
									<div id="error_password" class="text-danger editar-error"></div>
								</div>
								<div class="form-group">
									<label for="exampleInputPassword1" class="text-muted">Repetir Contrase&ntilde;a:</label>
									{{form_cuenta.password_confirm}}
									<div id="error_password_confirm" class="text-danger editar-error"></div>
								</div>
							</div> <!-- / .col-xs-6 -->
							</form>
						</div> <!-- / .row -->
						<div class="row">
							<div class="col-xs-6">
								<a id="mostrar_ver_perfil" href="#" class="btn btn-danger btn-block">Volver</a>
							</div>
							<div class="col-xs-6">
								<a href="#" id="enviar_editar_perfil" class="btn btn-primary btn-block">Enviar</a>
							</div>
						</div> <!-- / .row -->
					</div> <!-- / .col-xs-12 -->
				</div> <!-- / .row -->
				<br><br>
		    	</div> <!-- / #contenedor_editar_perfil -->
		    </div> <!-- / .tab-pane #Perfil -->

		    <div role="tabpanel" class="tab-pane" id="Solicitudes">

		    	<div class="row">
					<div class="col-xs-3 col-xs-offset-1">
		    			<h3 class="text-success">Solicitudes Enviadas</h3>
		    		</div>
		    		<div class="col-xs-7 col-md-5 col-md-offset-2 col-lg-4 col-lg-offset-3">
		    			<br>
		    			<div class="col-xs-6">
							<a class="btn btn-primary btn-block" id="crear_solicitud">Crear Solicitud</a>
		    			</div>
		    			<div class="col-xs-6">
							<a class="btn btn-danger btn-block" data-toggle="modal" data-target="#reclamo_modal">Presentar Reclamo</a>
		    			</div>
		    		</div>
		    	</div> <!-- / .row -->
		    	<div id="contenedor_solicitudes">
			    	<div class="row">
			    		<br>
						<div class="col-xs-10 col-xs-offset-1">
							{% if solicitudes %}
			    			<table class="table table-bordered text-center">
			    				<thead>
									<tr>
									 	<th class="text-center">Tipo Solicitud</th>
										<th class="text-center">N&uacute;mero de Orden</th>
										<th class="text-center">Estatus</th>
										<th class="text-center">Fecha de atenci&oacute;n</th>
										<th class="text-center">Opciones</th>
									</tr>
								</thead>
								<tbody id="solicitudes_table_body">
									{% for s in solicitudes %}
									<tr id="sol_{{s.pk}}">
										<td>{{s.tipo_inspeccion}}</td>
										<td style="font-size:x-large;">{{s.numero_orden.codigo}}</td>
										<td>{{s.estatus}}</td>
										<td>{{s.numero_orden.fecha_atencion|date:"d/m/Y"}} {{s.numero_orden.hora_atencion|date:"h:i A"}}</td>
										<td>
											<a href="#" class="btn btn-danger btn-sm eliminar-solicitud" solicitud-id="{{s.pk}}"><i class="fa fa-times"></i></a>
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
							{% else %}
							<table class="table table-bordered text-center">
			    				<thead>
									<tr>
									 	<th class="text-center">Tipo Solicitud</th>
										<th class="text-center">N&uacute;mero de Orden</th>
										<th class="text-center">Estatus</th>
										<th class="text-center">Fecha de atenci&oacute;n</th>
										<th class="text-center">Opciones</th>
									</tr>
								</thead>
								<tbody id="solicitudes_table_body">
								</tbody>
							</table>
							<h4 id="sin_solicitud_msg" class="text-center">No hay solicitudes para mostrar</h4>
							{% endif %}
			    		</div>
			    	</div> <!-- / .row -->
		    	</div> <!-- / #contenedor_solicitudes -->

				<div id="contenedor_crear_solicitud" style="display:none">
					<div id="spinner_form">
						{% load staticfiles %}
						<center>
					    	<img src="{% static "img/ajax-loader.gif" %}" alt="Cargando Formulario..."/>
					    </center>
					</div>
					<div id="contenido" class="row"></div>
				</div> <!-- / #contenedor_crear_solicitud -->

		    </div> <!-- / .tab-pane #Solicitudes -->

		    <div role="tabpanel" class="tab-pane" id="Notificaciones">
		    	<div class="row">
					<div class="col-xs-5 col-xs-offset-1">
		    			<h3 class="text-success">Notificaciones Recibidas</h3>
		    		</div>
		    		<div class="col-xs-2 col-xs-offset-3">
		    			<br>
						<a class="btn btn-success btn-block" data-toggle="modal" data-target="#Buscar">Buscar</a>
		    		</div>
		    	</div> <!-- / .row -->
		    	<div id="contenedor_notificacion_encuesta"  class="row">
		    		<br>
					<div class="col-xs-10 col-xs-offset-1">
		    			{% if notificaciones %}
		    			<table class="table table-bordered">
		    				<thead>
								<tr>
								 	<th style="width:40%">Asunto</th>
									<th style="width:30%">Tipo notificaci&oacute;n</th>
									<th style="width:15%">Fecha recibida</th>
									<th style="width:5%">Estado</th>
									<th style="width:10%">Opciones</th>
								</tr>
							</thead>
							<tbody id="notificaciones_table_body">
								{% for n in notificaciones %}
								<tr id="notificacion_{{n.id}}">
									<td>{{n.notificacion.asunto}}</td>
									<td>{{n.notificacion.tipo_notificacion.descripcion}}</td>
									<td>{{n.fecha_creacion}}</td>
									<td>
										<span id="marca_{{n.id}}" class="label {% if n.leida %} label-info {% else %} label-warning {% endif %}">{% if n.leida %} Leida {% else %} Nueva {% endif %}</span>
									</td>
									<td>
										<a class="btn btn-primary btn-sm abrir_notificacion" target="{{n.id}}" role="button" title="Abrir Notificaci&oacute;n">
											<i class="fa fa-eye"></i>
										</a>
										<a class="btn btn-danger btn-sm" role="button" target="{{n.id}}" title="Borrar Notificaci&oacute;n">
											<i class="fa fa-trash"></i>
										</a>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
						{% else %}
						<table class="table table-bordered">
		    				<thead>
								<tr>
								 	<th style="width:40%">Asunto</th>
									<th style="width:30%">Tipo notificaci&oacute;n</th>
									<th style="width:15%">Fecha recibida</th>
									<th style="width:5%">Estado</th>
									<th style="width:10%">Opciones</th>
								</tr>
							</thead>
							<tbody id="notificaciones_table_body">
							</tbody>
						</table>
						<h4 id="sin_notificacion_msg" class="text-center">No hay notificaciones</h4>
						{% endif %}
		    		</div>
		    	</div> <!-- / #contenedor_notificacion_encuesta -->
		    	<div id="notificacion_encuesta_contenido" class="row" style="display:none">
		    		<div class="col-xs-10 col-xs-offset-1">
						<br>
						<div class="panel panel-dashboard-gray">
							<div class="panel-heading">
								<div class="row">
									<div id="titulo_notificacion_encuesta" class="col-xs-8">
										
									</div>
									<div class="col-xs-4">
										<a id="cerrar_notificacion" class="btn btn-default pull-right" role="button" title="Cerrar Notificaci&oacute;n"><i class="fa fa-times"></i></a>
									</div>
								</div>
							</div>
							<div id="contenido_notificacion_encuesta" class="panel-body">
								
							</div>
						</div>
					</div>
		    	</div> <!-- / #notificacion_encuesta_contenido -->
		    </div> <!-- / .tab-pane  #Notificaciones-->
	  	</div><!-- / .tab-content -->
	 </div> <!-- / role=tabpanel -->
</div> <!-- / .container-fluid -->

{% endblock %}

{% block javascripts %}
	{{ block.super }}

	<script type="application/javascript">
		fechas_deshabilitadas = [];
		$(function(){
			var token = document.getElementsByName('csrfmiddlewaretoken')[0].value;

			/********** OCULTAR MENSAJE DE INFORMACIÓN ***********/
			setTimeout('$("#contenedor_mensaje_info").fadeOut()', 4000);
			/********** FIN *************/

			/********** MOSTRAR EDITAR PERIL ************/
			$(document).on('click', '#mostrar_editar_perfil', function(){
				$('#contenedor_ver_perfil').hide();
				$('#contenedor_editar_perfil').show();
			});
			/********** FIN ***********/

			/********** MOSTRAR VER PERFIL ************/
			$(document).on('click', '#mostrar_ver_perfil', function(){
				$('#contenedor_editar_perfil').hide();
				$('#contenedor_ver_perfil').show();
			});
			/********** FIN ***********/

			/********** PARA CARGAR LA INTERFAZ DE LA CREACIÓN DE SOLICITUD *************/
			$(document).on('click', '#crear_solicitud', function(){
				$('#contenedor_solicitudes').hide();
				$('#contenedor_crear_solicitud').show();
				fechas_deshabilitadas = []
				$.ajax({
					method: 'GET',
					url: '{% url "crear_solicitud" %}',
					data:{
						'estado': {{usuario.municipio.estado.id}}
					},
					dataType: 'html',
					complete: function(){
					  $('#spinner_form').hide();
					  $('#crear_solicitud').html('Ver Solicitudes');
					  $('#crear_solicitud').attr('id','ver_solicitudes');
					}
				})
				.done(function(data){
					$('#contenido').html(data);
					$('#fecha_asistencia').datepicker({
					  autoclose: true,
					  clearBtn: true,
					  language: "es",
					  startView: 1,
					  daysOfWeekDisabled: [0,6],
					  datesDisabled:fechas_deshabilitadas
					});
					$('#fecha_asistencia').datepicker('setDate', new Date());
					$('#fecha_asistencia').datepicker('update');
					$('#crear_solicitud_form').validator();
				})

			});
			/********** FIN *************/

			$(document).on('click', '#ver_solicitudes', function(){
				$('#contenedor_solicitudes').show();
				$('#contenedor_crear_solicitud').hide();
				$('#ver_solicitudes').html('Crear Solicitud');
				$('#ver_solicitudes').attr('id','crear_solicitud');
			});

			function cargar_centros(filtro, valor){
				data_object = {}

				if(filtro==='municipio'){
					data_object['municipio_id'] = valor;
				}
				else if(filtro==='estado'){
					data_object['estado_id'] = valor;
				}

				// Llamada AJAX para obtener los centros de inspección
				$.ajax({
					method: 'GET',
					url: '/sgt/obtener-centros',
					data: data_object,
					dataType: "json"
				})
				.done(function(data){
					if(!data.hasOwnProperty('error_msg')){
						// Se reinicia los centros de inspeccion
						$('#tabla_centros_insp > tbody').html('');
						$.each(data, function(key, value){
							$('#tabla_centros_insp > tbody').append('<tr id="'+value.pk+'">\
								<td>'+value.nombre+'</td>\
								<td>'+value.direccion+'</td>\
								<td>'+value.disponibilidad+'\
									<span class="label label-'+value.etiqueta_clase+'">'+value.etiqueta+'</span>\
								</td>\
								<td><input name="centro_inspeccion" value="'+value.pk+'" type="radio" required="" data-error="Este campo es obligatorio"></td>\
								</tr>');
						});
					}
					else{
						console.lg('Error');
					}
				});
			}

			/********** PARA CARGAR LOS MUNICIPIOS POR ESTADO EN EL FORMULARIO DE CREACION DE SOLICITUD *************/
			$(document).on('change', '#select_solicitud_estado', function(){
				value = $(this).val();
				
				if(value.length > 0){
					// LLamada AJAX para obtener los municipios
					$.ajax({
						method: 'GET',
						url: '/sgt/obtener-municipios/'+value,
						data:{
							'con_centro': true
						},
						dataType: "json"
					})
					.done(function(data){
						if(!data.hasOwnProperty('error_msg')){
							// Se reinicia el Select de municipios
							$('#select_solicitud_municipio').html('<option value="">---------</option>');
							
							$.each(data, function(key, value){
								$('#select_solicitud_municipio').append('<option value="'+value.pk+'">'+value.fields.nombre+'</option>');
							});
						}
						else{
							console.lg('Error');
						}
					});
					// Llamada a la función para obtener los centros por estado
					cargar_centros('estado', value);
				}
			});
			/********** FIN *************/

			/********** PARA CARGAR LOS CENTROS DE INSPECCION POR MUNICIPIO EN EL FORMULARIO DE CREACION DE SOLICITUD *************/
			//$('#select_solicitud_municipio').change(function(){
			$(document).on('change', '#select_solicitud_municipio', function(){
				value = $(this).val();
				if(value.length > 0){
					// Llamada a la función para obtener los centros por estado
					cargar_centros('municipio', value);
				}
			});
			
			/********** CARGAR MODAL DE CONFIRMACION DE TICKET *************/
			$(document).on('click', '#mostrar_ticket', function(event){
				event.preventDefault();

				tipo_solicitud = $('#id_tipo_solicitud').val();
				fecha_asistencia = $('#id_fecha_asistencia').val();
				value = $('input[name="centro_inspeccion"]:checked');

				if(value.length > 0 && tipo_solicitud.length > 0 && fecha_asistencia.length > 0){
					value = value.val();
					// Llamada AJAX para obtener los centros de inspección
					$.ajax({
						method: 'GET',
						url: '/sgt/obtener-numero/'+value,
						dataType: 'json',
						data:{
							fecha_asistencia: fecha_asistencia
						}
					})
					.done(function(data){
						if(!data.hasOwnProperty('error_msg')){
							$('#t_nombre_centro').html('<p>'+data[0].nombre+'</p>');
							$('#t_fecha_asistencia').html('<p>'+fecha_asistencia+'</p>');
							$('#t_estado_centro').html('<p>'+data[0].estado+'</p>');
							$('#t_municipio_centro').html('<p>'+data[0].municipio+'</p>');
							//$('#t_numero_orden').html('<p>'++'</p>');
							$('#t_hora_asistencia').html('<select id="hora_asistencia_ticket" class="form-control" name="hora_asistencia"></select>');
							$.each(data[0].horarios, function(key,val){
								$('#t_hora_asistencia>select').append(
									'<option value="'+val.value+'">'+val.text+'</option>');
							});
							$('#Ticket').modal('show'); 
						}
						else{
							console.lg('Error');
						}
					});
				}
			});
			/********** FIN *************/

			/********* MOSTRAR MODAL DE CONFIRMACIÓN PARA GENERAR TICKET **********/
			$(document).on('click','#generar_ticket', function(){
				centro_id = $('input[name="centro_inspeccion"]:checked').val();
				centro = $('#centro_'+centro_id).text();
				fecha = $('#id_fecha_asistencia').val();
				hora = $('#hora_asistencia_ticket option:selected').text();

				$('#btn_close_modal_generic').remove();
				$('#title_modal_generic').html('Confirmación');
				$('#body_modal_generic').html(
					'<div class="row">\
						<div class="col-xs-12 text-center"><h4>¿Está seguro que desea generar el siguiente ticket?</h4></div>\
					</div><br>\
					<div class="row">\
						<div class="col-xs-12">\
							<div class="col-xs-4">'+centro+'</div>\
							<div class="col-xs-4">'+fecha+'</div>\
							<div class="col-xs-4">'+hora+'</div>\
						</div>\
					</div><br>'
				);
				$('#footer_modal_generic').html(
					'<div class="col-xs-6">\
						<a id="cancelar_ticket" href="#" class="btn btn-danger btn-block">Cancelar</a>\
					</div>\
					<div class="col-xs-6">\
						<a id="confirmar_ticket" href="#" class="btn btn-primary btn-block">Aceptar</a>\
					</div>'
				);
				$('#Ticket').modal('hide');
				$('#modal_generic').modal({
					backdrop: 'static',
					keyboard: false
				});
			});

			$(document).on('click','#cancelar_ticket',function(){
				$('#modal_generic').modal('hide');
				$('#Ticket').modal('show');
			});
			/********* FIN **********/

			/********** CREAR TICKET *************/
			$(document).on('click','#confirmar_ticket',function(){
				centro = $('input[name="centro_inspeccion"]:checked').val();
				fecha = $('#id_fecha_asistencia').val();
				hora = $('#hora_asistencia_ticket').val();
				tipo_solicitud = $('#id_tipo_solicitud').val();

				// Llamada AJAX para generar el ticket
				$.ajax({
					method:'POST',
					url:'{% url "crear_solicitud" %}',
					dataType:'json',
					data:{
						centro: centro,
						fecha_asistencia: fecha,
						hora_asistencia: hora,
						tipo_inspeccion: tipo_solicitud,
						csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value
					}
				})
				.done(function(data){
					if(data.resultado == 0){
						if($('#sin_solicitud_msg').length > 0){
							$('#sin_solicitud_msg').remove();
						}
						$('#solicitudes_table_body').prepend(
							'<tr>\
								<td>'+data.solicitud.tipo_solicitud+'</td>\
								<td style="font-size:x-large;">'+data.solicitud.numero_orden+'</td>\
								<td>'+data.solicitud.estatus+'</td>\
								<td>'+data.solicitud.fecha_atencion+' '+data.solicitud.hora_atencion+'</td>\
								<td>\
									<a href="#" class="btn btn-danger btn-sm eliminar-solicitud" solicitud-id="'+data.solicitud.id+'"><i class="fa fa-times"></i></a>\
								</td>\
							</tr>'
						);
						$('#contenedor_crear_solicitud').hide();
						$('#contenedor_solicitudes').show();
						$('#ver_solicitudes').html('Crear Solicitud');
						$('#ver_solicitudes').attr('id','crear_solicitud');

						$('#modal_generic').modal('hide');
					}
				})
				.fail(function(){
					console.log('error');
				});
			});
			/********** FIN *************/

			/********** ABRIR NOTIFICACIÓN *************/

			$(document).on('click','.abrir_notificacion',function(){
				notificacion_usuario_id = $(this).attr('target');
				$.ajax({
					method: 'GET',
					url: '{% url "consultar_notificacion" %}',
					dataType: 'json',
					data: {
						'notificacion_usuario_id': notificacion_usuario_id
					},
					success:function(data){
						console.log(data);
						marca_id = '#marca_' + notificacion_usuario_id;
						marca = $(marca_id).text().trim();

						if(marca == 'Nueva'){
							$(marca_id).removeClass("label-warning");
							$(marca_id).addClass("label-info");
							$(marca_id).text('Leida');
						}
						
						$('#titulo_notificacion_encuesta').html('<h4>'+data['asunto']+' - (Recibido el '+data['fecha_creacion']+')</h4>');

						$('#contenido_notificacion_encuesta').html('<p align="justify">'+data['mensaje']+'</p>');
						
						if(data['encuesta_id'])
							$('#contenido_notificacion_encuesta').append('<br><a id="enlace_encuesta" class="btn btn-primary pull-right" target-encuesta="'+data['encuesta_id']+'" target-notificacion-usuario="'+notificacion_usuario_id+'" role="button" title="Completar Encuesta">Completar Encuesta</a>');

						$('#contenedor_notificacion_encuesta').hide('fade');
						$('#notificacion_encuesta_contenido').show('fade');
					},
				    error: function(data){
				    	console.log("Error...");
				    	console.log(data);
				    }
				});
			});

			$(document).on('click','#enlace_encuesta',function(){
				encuesta_id = $(this).attr('target-encuesta');
				notificacion_uduario_id = $(this).attr('target-notificacion-usuario');
				$.ajax({
					method: 'GET',
					url: '{% url "consultar_encuesta" %}',
					dataType: 'json',
					data: {
						'encuesta_id': encuesta_id
					},
					success:function(data){
						console.log(data);
						$('#titulo_notificacion_encuesta').html('<h4>'+data['nombre_encuesta']+'</h4>');

						preguntas = data['preguntas'];
						total_preguntas = preguntas.length;


				    	aux = '<form id="encuesta_form">\
				    				<input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">\
				    				<input name="encuesta" type="hidden" value="'+encuesta_id+'">\
			        				<input name="notificacion_usuario" type="hidden" value="'+notificacion_usuario_id+'">\
			        				<input id="total_preguntas_enc" name="total_preguntas" type="hidden" value="'+total_preguntas+'">';

			        	for(i = 0; i < total_preguntas; i++){
			        		pregunta_id = preguntas[i]['id'];
			        		aux += '<br>\
			        				<div class="row">\
			        					<div class="col-xs-12">\
			        						<input name="pregunta_'+(i + 1)+'" type="hidden" value="'+pregunta_id+'">';

			        		if(preguntas[i]['tipo_respuesta'] == 'RESP_INDEF'){
			        			aux += '<label class="text-muted">'+preguntas[i]['enunciado']+'</label>\
			        					<textarea class="form-control" rows="10" name="respuesta_indef_'+pregunta_id+'"></textarea>';
			        		}

			        		if(preguntas[i]['tipo_respuesta'] == 'RESP_DEF'){
			        			aux += '<label class="text-muted">'+preguntas[i]['enunciado']+'</label>\
			        					<div class="radio">';

			        			valores_posibles = data['valores_preguntas_definidas'][pregunta_id];
			        			for(j = 0; j < valores_posibles.length; j++){
			        				valor_id = valores_posibles[j]['id'];

			        				aux += '<div class="radio">\
			        							<label><input type="radio" name="respuesta_def_'+pregunta_id+'" value="'+valor_id+'">'+valores_posibles[j]['valor']+'</label>\
			        						</div>';
			        			}

			        			aux += '</div>';
			        		}

			        		aux += '	</div>\
			        				</div>';
			        	}

			        	aux += '	<br>\
			        				<button type="submit" class="btn btn-primary pull-right">Enviar</button>\
			        			</form>';

			        	$('#contenido_notificacion_encuesta').html(aux);
					},
				    error: function(data){
				    	console.log("Error...");
				    	console.log(data);
				    }
				});
			});

			$(document).on('click', '#cerrar_notificacion', function(){
				$('#notificacion_encuesta_contenido').hide('fade');
				$('#contenedor_notificacion_encuesta').show('fade');
			});

			$(document).on('submit', '#encuesta_form', function(event){
				event.preventDefault();
				formData = $(this).serializeArray();
		        
		        data = {};
		        $(formData).each(function(index, obj){
		            data[obj.name] = obj.value;
		        });

		        $.ajax({
					method: 'POST',
					url: '{% url "consultar_encuesta" %}',
					dataType: 'json',
					data: data,
					success:function(data){
						console.log(data);
						notificacion_target = $('input[name="notificacion_usuario"]').val();
						$('#notificacion_'+notificacion_target).remove();
						
						if($('#notificaciones_table_body').children().length < 1){
							$('#notificaciones_table_body').parent().after(
								'<h4 id="sin_notificacion_msg" class="text-center">No hay notificaciones</h4>'
							);
						}

						$('#notificacion_encuesta_contenido').hide('fade');
						$('#contenedor_notificacion_encuesta').show('fade');
					},
				    error: function(data){
				    	console.log("Error...");
				    	console.log(data);
				    }
				});
			});

			/********** FIN *************/

			/************ MODAL DE CONFIRMACIÓN DE ELIMINACIÓN DE SOLICITUD ************/
			$(document).on('click', '.eliminar-solicitud', function(){
				id_solicitud = $(this).attr('solicitud-id');

				$('#title_modal_generic').html('Confirmación');
				$('#body_modal_generic').html(
					'<div class="row text-center">\
						<div class="col-xs-12"><h4>¿Está seguro que desea eliminar esta solicitud?</h4></div>\
					</div>\
					<div class="row">\
						<div class="col-xs-12 text-center">\
						<span id="error_eliminar_solicitud" class="text-danger"></span>\
						</div>\
					</div>'
				);
				$('#footer_modal_generic').html(
					'<div class="col-xs-6">\
						<a href="#" class="btn btn-danger btn-block" data-dismiss="modal">Cancelar</a>\
					</div>\
					<div class="col-xs-6">\
						<a id="confirmar_eliminacion_solicitud" href="#" class="btn btn-primary btn-block" solicitud-id="'+id_solicitud+'">Aceptar</a>\
					</div>'
				);
				$('#modal_generic').modal({
					backdrop: 'static',
					keyboard: false
				});
			});
			/************ FIN **************/

			/************ ENVIAR ELIMINACIÓN DE SOLICITUD ************/
			$(document).on('click', '#confirmar_eliminacion_solicitud', function(){
				id_solicitud = $(this).attr('solicitud-id');
				console.log(id_solicitud);
				$.ajax({
					method: 'POST',
					headers: { "X-CSRFToken": token},
					url: '{% url "marcar_solicitud" %}',
					dataType: 'json',
					data: {
						'id_solicitud': id_solicitud,
					},
					success:function(data){
						if(data.valido){
							/*$('a[solicitud-id="'+id_solicitud+'"]').attr('disabled',true);
							estatus_solicitud = $('#sol_'+id_solicitud).children()[2];
							$(estatus_solicitud).text(data.solicitud.estatus);*/
							$('#sol_'+id_solicitud).remove();
							// Para eliminar la tabla cuando no hay solicitud que mostrar
							if(!($('#solicitudes_table_body').children().length > 0)){
								padre_tabla = $('#solicitudes_table_body').parent();
								abuelo_tabla = $('#solicitudes_table_body').parent().parent();
								$('#solicitudes_table_body').html('');
								padre_tabla.after('<h4 id="sin_solicitud_msg" class="text-center">No hay solicitudes</h4>')
							}
							$('#modal_generic').modal('hide');
						}
						else{
							$('#error_eliminar_solicitud').html(data.error_msg);
						}
					},
				    error: function(data){
				    	console.log("Error...");
				    	console.log(data);
				    }
				});
			});
			/************ FIN **************/

			/************ LIMPIAR MODAL DE RECLAMO ***********/
			$('#reclamo_modal').on('show.bs.modal', function (e) {
				$('#reclamo_modal input,textarea').val('');
				$('#motivo_error,#observaciones_error').html('');
			})
			/************ FIN **************/

			/************ ENVIAR RECLAMO ***********/
			$(document).on('click', '#enviar_reclamo', function(){
				var postData = $('#reclamo_form').serializeArray();

				$.ajax({
					method: 'POST',
					headers: { "X-CSRFToken": token},
					url: '{% url "guardar_reclamo" %}',
					data:postData,
					dataType: 'json',
					/*beforeSend: function(xhr) {
						$('#contenedor_horarios').hide();
						$('#spinner_form_horarios').show();
					},
					complete: function(){
						$('#spinner_form_horarios').hide();
						$('#contenedor_horarios').show();
					},*/
				})
				.done(function(data){
					$('#motivo_error').html('');
					$('#observaciones_error').html('');
					if(data.valido){
						$('#reclamo_modal').modal('hide');
						$('#mensaje_confirmacion').html(
						'<div class="alert alert-success alert-dismissible" role="alert">\
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>\
							Se ha registrado correctamente su reclamo\
						</div>'
						);
					}
					else{
						if(data.errores.hasOwnProperty('motivo'))
							$('#motivo_error').html(data.errores.motivo);

						if(data.errores.hasOwnProperty('observaciones'))
							$('#observaciones_error').html(data.errores.observaciones);
					}
				});
			});
			/************ FIN **************/

			/************ ENVIAR EDITAR PERFIL ************/
			$(document).on('click', '#enviar_editar_perfil', function(){
				var postData = $('#editar_perfil_form').serializeArray();

				$.ajax({
					method: 'POST',
					headers: { "X-CSRFToken": token},
					url: '{% url "editar_perfil_cliente" %}',
					data:postData,
					dataType: 'json',
				})
				.done(function(data){
					if(data.valido){
						location.href = '{% url "bandeja_cliente" %}';
					}
					else{
						$('.editar-error').html('');
						errores_form = JSON.parse(data.errores);
						$.each(errores_form, function(key,val){
							error_obj = val[0];
							$('#error_'+key).html(error_obj.message);
						});
					}
				});
			});
			/************ FIN **************/

			/************ BUSCAR NOTIFICACIONES ****************/
			$(document).on('click', '#enviar_buscar_notificaciones', function(){
				var postData = $('#buscar_notificaciones_form').serializeArray();

				$.ajax({
					method: 'POST',
					headers: { "X-CSRFToken": token},
					url: '{% url "buscar_notificaciones" %}',
					data:postData,
					dataType: 'json',
				})
				.done(function(data){
					if(data.valido){
						$('#notificaciones_table_body').html('');

						if($('#sin_notificacion_msg').length > 0)
							$('#sin_notificacion_msg').remove();

						if(data.notificaciones.length > 0){
							$.each(data.notificaciones, function(key, val){
								if(val.leida)
									leida_tag = '<span id="marca_'+val.id+'" class="label label-info"> Leida </span>';
								else
									leida_tag = '<span id="marca_'+val.id+'" class="label label-warning"> Nueva </span>';

								$('#notificaciones_table_body').append(
									'<tr id="notificacion_'+val.id+'">\
										<td>'+val.asunto+'</td>\
										<td>'+val.tipo_notificacion+'</td>\
										<td>'+val.fecha_recibida+'</td>\
										<td>'+leida_tag+'</td>\
										<td>\
											<a class="btn btn-primary btn-sm abrir_notificacion" target="'+val.id+'" role="button" title="Abrir notificación"><i class="fa fa-eye"></i></a>\
											<a class="btn btn-danger btn-sm" role="button" target="'+val.id+'" title="Borrar notificación"><i class="fa fa-trash"></i></a>\
										</td>\
									</tr>'
								);
							});
						}
						else{
							$('#notificaciones_table_body').parent().after(
								'<h4 id="sin_notificacion_msg" class="text-center">No se encontraron notificaciones</h4>'
							);
						}

						// Esconder el modal
						$('#Buscar').modal('hide');
					}
					else{
						
					}
				});
			});
			/************ FIN **************/

		});

	</script>

{% endblock %}