{% extends "base.html" %}

{% block main_content %}
<header class="header">
	<div class="row">
		<div class="col-xs-2 col-xs-offset-5 text-success text-center" style="margin-top: 10%;">
			<h1>SIGETICK</h1>
		</div>
		<div class="col-xs-5 pull-right">
			<img src="../../static/img_generic/car-icon.png" class="img-rounded" style="width: 40%; margin-top: 15%;">
		</div>
	</div>
</header>

<div class="bg-info col-xs-6 col-xs-offset-3">
	<div class="row">
		<div class="col-xs-4 col-xs-offset-4 text-success text-center">
			<br>
			<h3>Recuperar contrase&ntilde;a</h3>
		</div>
	</div>
	<br>	
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
			<div class="form-box">
				<form id="recuperar_password_form" action="{% url 'recuperar_clave' %}" method="post" novalidate>
					{% csrf_token %}
					<div class="row errors">
					</div>
					<div class="row">
						<div class="form-group">
							<label for="exampleInputEmail1" class="text-muted">Correo:</label>
							<!-- <input name="correo" type="email" class="form-control" id="exampleInputEmail1" placeholder="Correo electr&oacute;nico..."> -->
							{{form.correo}}
							<br>
							<div class="text-danger">{{form.correo.errors.as_text}}{{form.non_field_errors.as_text}}</div>
						</div>
					</div>
					<div class="row ">
						<div class="col-xs-6">
							<a href="{% url 'cuentas_login' %}" class="btn btn-danger btn-block">Volver</a>
						</div>
						<div class="col-xs-6">
							<input type="submit" value="Enviar" class="btn btn-primary btn-block"></input>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<br><br><br>
	<!-- <div class="row">
		<div class="col-xs-6 col-xs-offset-6">
			<br>
			<a class="btn btn-link text-center">¿Olvid&oacute; su contrase&ntilde;a?</a>
			<br><br>
		</div>
	</div> -->
</div>
{% endblock %}

{% block javascripts %}
	{{ block.super }}

	<script type="application/javascript">

		$(function(){
			$('#enviar_form').click(function(){
				$('#login_form').submit();
			});
		});

	</script>

{% endblock %}