{% extends "base.html" %}

{% block main_content %}
<header class="header">
	<div class="row">
		<div class="col-xs-2 col-lg-offset-5 text-success text-center" style="margin-top: 5%;">
			<h1>SIGETICK</h1>
		</div>
		<div class="col-xs-5 pull-right">
			<img src="../../static/img_generic/car-icon.png" class="img-rounded" style="width: 40%;">
		</div>
	</div>
</header>

<div class="container-fluid Absolute-Center-Registro bg-info">
	<div class="row">
		<div class="col-xs-4 col-lg-offset-4 text-success text-center">
			<br>
			<h3>Registro de Usuario</h3>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-xs-12">
			<div class="form-box">
				<form action="{% url 'cuentas_login' %}" method="post">
					<div class="row">
						<div class="col-xs-6">
							<div class="form-group">
								<label class="text-muted">Nombres:</label>
								<input type="text" class="form-control">
							</div>
							<div class="form-group">
								<label class="text-muted">Apellidos:</label>
								<input type="text" class="form-control">
							</div>
							<div class="form-group">
								<label class="text-muted">C&eacute;dula:</label>
								<input type="text" class="form-control">
							</div>
							<div class="form-group">
								<label class="text-muted">Estado:</label>
								<select class="form-control">
									<option value="" selected>-- Seleccione --</option>
								</select> 
							</div>
							<div class="form-group">
								<label class="text-muted">Municipio:</label>
								<select class="form-control">
									<option value="" selected>-- Seleccione --</option>
								</select> 
							</div>
							<div class="form-group">
								<label class="text-muted">C&oacute;digo Postal:</label>
								<input type="text" class="form-control">
							</div>
						</div>
						<div class="col-xs-6">
							<div class="form-group">
								<label class="text-muted">Direcci&oacute;n:</label>
								<textarea class="form-control"></textarea>
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1" class="text-muted">Correo:</label>
								<input type="email" class="form-control" id="exampleInputEmail1">
							</div>
							<div class="form-group">
								<label for="exampleInputPassword1" class="text-muted">Contrase&ntilde;a:</label>
								<input type="password" class="form-control" id="exampleInputPassword1">
							</div>
							<div class="form-group">
								<label for="exampleInputPassword1" class="text-muted">Repetir Contrase&ntilde;a:</label>
								<input type="password" class="form-control" id="exampleInputPassword1">
							</div>
							<div class="pull-right" style="margin-top: 20%;">
								<a href="#" class="btn btn-danger">Cancelar</a>
								<button type="submit" class="btn btn-primary">Guardar</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>



	</div>

</div>
{% endblock %}