.Absolute-Center-Login { 
	height: 50%; /* Set your own height: percents, ems, whatever! */
	width: 40%; /* Set your own width: percents, ems, whatever! */ 
	overflow: auto; /* Recommended in case content is larger than the container */
	margin: auto; /* Center the item vertically & horizontally */
	position: absolute; /* Break it out of the regular flow */
	top: 0; left: 0; bottom: 0; right: 0; /* Set the bounds in which to center it, relative to its parent/container */
}

.Absolute-Center-Registro { 
	height: 70%; /* Set your own height: percents, ems, whatever! */
	width: 50%; /* Set your own width: percents, ems, whatever! */ 
	overflow: auto; /* Recommended in case content is larger than the container */
	margin: auto; /* Center the item vertically & horizontally */
	position: absolute; /* Break it out of the regular flow */
	top: 0; left: 0; bottom: 0; right: 0; /* Set the bounds in which to center it, relative to its parent/container */
}

.panel-dashboard-gray {
    border-color: #dbd6d6;
}

.panel-dashboard-gray > .panel-heading {
    background-color: #f5f5f5;
    border-color: #dbd6d6;
}

.btn.btn-flat {
    border-radius: 0;
    border-width: 1px;
    box-shadow: none;
}

.label-low {
	background-color: #FF7454;
}